<a href="https://colab.research.google.com/github/nichakornchaisuwan/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ข้อมูล alldb

In [1]:
import pandas as pd #import ฟังก์ชั่นที่ต้องใช้ในการสร้างตาราง

In [2]:
from google.colab import drive #เชื่อมต่อ colab เข้ากับไดร์ฟในข้อมูล
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import os #จัดการหาไฟล์ที่อยู่ในไดร์ฟ

In [4]:
path = '/content/drive/My Drive/FinalExam' #ชี้ไฟล์ในไดร์ฟ

In [5]:
data_alldb = os.path.join(path,'alldb.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_alldb)

/content/drive/My Drive/FinalExam/alldb.csv

In [6]:
alldb = pd.read_csv(data_alldb)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid2
alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

###เลือกเฉพาะคอลัมน์ที่ต้องการ

In [7]:
alldb_choose = alldb[['user','RowKey','date','ov','phone','site','time','urine','PartitionKey','title','age']]
alldb_choose

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,"iPhone13,4",01234,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed

In [8]:
alldb_choose.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40035 entries, 0 to 40034
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          39273 non-null  object
 1   RowKey        40034 non-null  object
 2   date          39481 non-null  object
 3   ov            39671 non-null  object
 4   phone         40032 non-null  object
 5   site          39936 non-null  object
 6   time          39478 non-null  object
 7   urine         39782 non-null  object
 8   PartitionKey  39850 non-null  object
 9   title         39591 non-null  object
 10  age           39493 non-null  object
dtypes: object(11)
memory usage: 3.4+ MB

In [9]:
alldb_choose.isnull().sum()

user            762
RowKey            1
date            554
ov              364
phone             3
site             99
time            557
urine           253
PartitionKey    185
title           444
age             542
dtype: int64

###แก้ค่า Missing และเปลี่ยน type ของข้อมูล

#### คอลัมน์ user

In [10]:
alldb_choose= alldb_choose[(alldb_choose['user'].astype(str).str.isdigit()) & (alldb_choose['user'].str.len() == 5)] 
alldb_choose

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN
40017,12345,zgvicawbkg.png,NaN,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),xxxxx,NaN,NaN

In [11]:
#alldb_choose['user'] = pd.to_numeric(alldb_choose['user'], errors='coerce' )

In [12]:
#alldb_choose['user'] = alldb_choose['user'].astype('Int64')

In [13]:
set(alldb_choose['user'])

{'64520',
 '00006',
 '00023',
 '12003',
 '94758',
 '00230',
 '50332',
 '26511',
 '78334',
 '86547',
 '92431',
 '42468',
 '00315',
 '46783',
 '96481',
 '00138',
 '00211',
 '58845',
 '10264',
 '63880',
 '51653',
 '19237',
 '00112',
 '00142',
 '26916',
 '47429',
 '71112',
 '64385',
 '33791',
 '00345',
 '21378',
 '80734',
 '25781',
 '00404',
 '73375',
 '84493',
 '51501',
 '17777',
 '37607',
 '45825',
 '20395',
 '73445',
 '44199',
 '00212',
 '06268',
 '02759',
 '00357',
 '74414',
 '09006',
 '90817',
 '12041',
 '38727',
 '81065',
 '03217',
 '91645',
 '36385',
 '15930',
 '52481',
 '74378',
 '60879',
 '69037',
 '26440',
 '07556',
 '14088',
 '20454',
 '46313',
 '19002',
 '98488',
 '04854',
 '03409',
 '49901',
 '00190',
 '00194',
 '27129',
 '63091',
 '00287',
 '81570',
 '00188',
 '00155',
 '69091',
 '21432',
 '71228',
 '54538',
 '68768',
 '69428',
 '27096',
 '87541',
 '71970',
 '82777',
 '00281',
 '68805',
 '10534',
 '25403',
 '00139',
 '28062',
 '29417',
 '74369',
 '54100',
 '46902',
 '81472',
 '08777',
 '26773',
 '84055',
 '05663',
 '72988',
 '06223',
 '65656',
 '16284',
 '94406',
 '86483',
 '33643',
 '85737',
 '74375',
 '45668',
 '11282',
 '94279',
 '97255',
 '55354',
 '00278',
 '71813',
 '74523',
 '61087',
 '52665',
 '13361',
 '92415',
 '30067',
 '34331',
 '32999',
 '26462',
 '80382',
 '21751',
 '00082',
 '46481',
 '85493',
 '92220',
 '32468',
 '27484',
 '02396',
 '62440',
 '82894',
 '43791',
 '05961',
 '28241',
 '04325',
 '05590',
 '27143',
 '60147',
 '89475',
 '56326',
 '05232',
 '76819',
 '50577',
 '21010',
 '49367',
 '05116',
 '49241',
 '00400',
 '37140',
 '00566',
 '00215',
 '40520',
 '85934',
 '53920',
 '49741',
 '00156',
 '47844',
 '46970',
 '47593',
 '99771',
 '59361',
 '00168',
 '03831',
 '11742',
 '42228',
 '33316',
 '68037',
 '57954',
 '01762',
 '08971',
 '26442',
 '00041',
 '34585',
 '10046',
 '77665',
 '33081',
 '03338',
 '46767',
 '31879',
 '89609',
 '30481',
 '37259',
 '79066',
 '00270',
 '31229',
 '14835',
 '08741',
 '18041',
 '64810',
 '84187',
 '02091',
 '49161',
 '31283',
 '63564',
 '00289',
 '05047',
 '03663',
 '82822',
 '55239',
 '64211',
 '32622',
 '54788',
 '39537',
 '73204',
 '28731',
 '80880',
 '22692',
 '81537',
 '05433',
 '18873',
 '88135',
 '79620',
 '51205',
 '92756',
 '33121',
 '83659',
 '00143',
 '45752',
 '26082',
 '63477',
 '22635',
 '16820',
 '22688',
 '90154',
 '00280',
 '00025',
 '30059',
 '09269',
 '00120',
 '48274',
 '67400',
 '42370',
 '59128',
 '57398',
 '71891',
 '00141',
 '34096',
 '24229',
 '92580',
 '00748',
 '00260',
 '66801',
 '02594',
 '30024',
 '93189',
 '51065',
 '14387',
 '53481',
 '88351',
 '52227',
 '11177',
 '86601',
 '06924',
 '23675',
 '88023',
 '34711',
 '77249',
 '14771',
 '55865',
 '14291',
 '00781',
 '34317',
 '89081',
 '37186',
 '32451',
 '63274',
 '47810',
 '63312',
 '16725',
 '00204',
 '87029',
 '00941',
 '26469',
 '58993',
 '88708',
 '26459',
 '03558',
 '00157',
 '20435',
 '29391',
 '15734',
 '18025',
 '51568',
 '32831',
 '00151',
 '80374',
 '84063',
 '32387',
 '05391',
 '00288',
 '22478',
 '37732',
 '34801',
 '05219',
 '74782',
 '68162',
 '17184',
 '19265',
 '29514',
 '66473',
 '63606',
 '39103',
 '02075',
 '30511',
 '45787',
 '25179',
 '56004',
 '43257',
 '00160',
 '77254',
 '00051',
 '35888',
 '38305',
 '31982',
 '04255',
 '00073',
 '66191',
 '82211',
 '37151',
 '41061',
 '81197',
 '02728',
 '70196',
 '25923',
 '40533',
 '48908',
 '48514',
 '02862',
 '09343',
 '46291',
 '99999',
 '05304',
 '77706',
 '58814',
 '77645',
 '90770',
 '79001',
 '81529',
 '99475',
 '08998',
 '86271',
 '26540',
 '69431',
 '10691',
 '44888',
 '39342',
 '04193',
 '95821',
 '19675',
 '48069',
 '50291',
 '83276',
 '17055',
 '87374',
 '23012',
 '62941',
 '99245',
 '53333',
 '13070',
 '22542',
 '67961',
 '00149',
 '86133',
 '28402',
 '37231',
 '25478',
 '31428',
 '78673',
 '85504',
 '79493',
 '70290',
 '23738',
 '20452',
 '31196',
 '01008',
 '35942',
 '83934',
 '50911',
 '55415',
 '14255',
 '03949',
 '60953',
 '42380',
 '22099',
 '92948',
 '53188',
 '98509',
 '80317',
 '19875',
 '39079',
 '29441',
 '28917',
 '12839',
 '37826',
 '81724',
 '54614',
 '05228',
 '45914',
 '23596',
 '20291',
 '12044',
 '30431',
 '93509',
 '31534',
 '94414',
 '25466',
 '49880',
 '01088',
 '62415',
 '83937',
 '46341',
 '90516',
 '00624',
 '31062',
 '62059',
 '31577',
 '97290',
 '37228',
 '74394',
 '87797',
 '11007',
 '13073',
 '00268',
 '38522',
 '63865',
 '05135',
 '85879',
 '01651',
 '89470',
 '63306',
 '75910',
 '74338',
 '12378',
 '54761',
 '22377',
 '34322',
 '95810',
 '99288',
 '58718',
 '53011',
 '52912',
 '60181',
 '00167',
 '36481',
 '26859',
 '25721',
 '00020',
 '25071',
 '84276',
 '31143',
 '44364',
 '15588',
 '90609',
 '00322',
 '77572',
 '72486',
 '03617',
 '65321',
 '34210',
 '65632',
 '68112',
 '04055',
 '16675',
 '70490',
 '46415',
 '67850',
 '08773',
 '22354',
 '67280',
 '69789',
 '20215',
 '46662',
 '79322',
 '55299',
 '27529',
 '87733',
 '61265',
 '76523',
 '85433',
 '00300',
 '89329',
 '21177',
 '95935',
 '42453',
 '10673',
 '96081',
 '04387',
 '24559',
 '15731',
 '88538',
 '00295',
 '08021',
 '80511',
 '27902',
 '24179',
 '14380',
 '61419',
 '01408',
 '63471',
 '00218',
 '19273',
 '00163',
 '52066',
 '05154',
 '77567',
 '68081',
 '28977',
 '40551',
 '61325',
 '99992',
 '16321',
 '19130',
 '63767',
 '98245',
 '00150',
 '49791',
 '04347',
 '22824',
 '40059',
 '43868',
 '33237',
 '22722',
 '00135',
 '00902',
 '57228',
 '52209',
 '67379',
 '35178',
 '06260',
 '73772',
 '26651',
 '00130',
 '97016',
 '50837',
 '15980',
 '98519',
 '91125',
 '46566',
 '16214',
 '18865',
 '32948',
 '75838',
 '00293',
 '16783',
 '87468',
 '05358',
 '52350',
 '17277',
 '66062',
 '17132',
 '33100',
 '00197',
 '76011',
 '72186',
 '61095',
 '87218',
 '71503',
 '07331',
 '29379',
 '31811',
 '03649',
 '39593',
 '01024',
 '10724',
 '00048',
 '00217',
 '42098',
 '84768',
 '52219',
 '92962',
 '00394',
 '38463',
 '04461',
 '00328',
 '66261',
 '28330',
 '67972',
 '71327',
 '59476',
 '24994',
 '46597',
 '70409',
 '76299',
 '73336',
 '62517',
 '14491',
 '03431',
 '96706',
 '00271',
 '90571',
 '31619',
 '55659',
 '11215',
 '63323',
 '31011',
 '65678',
 '12015',
 '19241',
 '00122',
 '49178',
 '70492',
 '00028',
 '00076',
 '48493',
 '27046',
 '54214',
 '90872',
 '11891',
 '33553',
 '48016',
 '00114',
 '09582',
 '23010',
 '84375',
 '23811',
 '00185',
 '84479',
 '87067',
 '40881',
 '62687',
 '77994',
 '44502',
 '28551',
 '31792',
 '74493',
 '03359',
 '47122',
 '98474',
 '58500',
 '35139',
 '47494',
 '26776',
 '49424',
 '59181',
 '63429',
 '42055',
 '20951',
 '14764',
 '02052',
 '61359',
 '33503',
 '86542',
 '00013',
 '80067',
 '17560',
 '74840',
 '00207',
 '32891',
 '17974',
 '73381',
 '41340',
 '45563',
 '02087',
 '00910',
 '95668',
 '05082',
 '28743',
 '38500',
 '00176',
 '26531',
 '40577',
 '00320',
 '14667',
 '94538',
 '23186',
 '04431',
 '00016',
 '33739',
 '26043',
 '00045',
 '00352',
 '88942',
 '00109',
 '11361',
 '00079',
 '00285',
 '58668',
 '15801',
 '01883',
 '22119',
 '02962',
 '38547',
 '24375',
 '00294',
 '09529',
 '02663',
 '38614',
 '97965',
 '87394',
 '16754',
 '12023',
 '01861',
 '83943',
 '37915',
 '08734',
 '26989',
 '11611',
 '47157',
 '53510',
 '95631',
 '19911',
 '97281',
 '16428',
 '01009',
 '67212',
 '00305',
 '71998',
 '18513',
 '28890',
 '54281',
 '00282',
 '17191',
 '00001',
 '47656',
 '67352',
 '00321',
 '49322',
 '32171',
 '53330',
 '49215',
 '00126',
 '78054',
 '46732',
 '83725',
 '00756',
 '54781',
 '38778',
 '91167',
 '00298',
 '00039',
 '65995',
 '00146',
 '00145',
 '11159',
 '59266',
 '63200',
 '06283',
 '00081',
 '91209',
 '00209',
 '88315',
 '71378',
 '00010',
 '00125',
 '76803',
 '54974',
 '00003',
 '00343',
 '00034',
 '84196',
 '92545',
 '00182',
 '67094',
 '00014',
 '18253',
 '62061',
 '00545',
 '51403',
 '26647',
 '38518',
 '00193',
 '00090',
 '05152',
 '43228',
 '96630',
 '00348',
 '06964',
 '50047',
 '32581',
 '00134',
 '05019',
 '24501',
 '00274',
 '75835',
 '02825',
 '94494',
 '59423',
 '33171',
 '74335',
 '29476',
 '73038',
 '32591',
 '02639',
 '00291',
 '47146',
 '08236',
 '23338',
 '39802',
 '97013',
 '26957',
 '15963',
 '00284',
 '89913',
 '31762',
 '33219',
 '24468',
 '00191',
 '22680',
 '18318',
 '25219',
 '00029',
 '66708',
 '48440',
 '19920',
 '37551',
 '61591',
 '45641',
 '06436',
 '11887',
 '86758',
 '23958',
 '45783',
 '47623',
 '26477',
 '07166',
 '32310',
 '23889',
 '95301',
 '46333',
 '20827',
 '11522',
 '09188',
 '36362',
 '80364',
 '80463',
 '45485',
 '67093',
 '75251',
 '94019',
 '97913',
 '70610',
 '98703',
 '06385',
 '62962',
 '10348',
 '31994',
 '00312',
 '98126',
 '91402',
 '35512',
 '52921',
 '84540',
 '88459',
 '01467',
 '37018',
 '50373',
 '96760',
 '51310',
 '73876',
 '47950',
 '62241',
 '75911',
 '00205',
 '10905',
 '02990',
 '19699',
 '11727',
 '50063',
 '83662',
 '06079',
 '25176',
 '00316',
 '21955',
 '23214',
 '11111',
 '63910',
 '00011',
 '34791',
 '34169',
 '00232',
 '79525',
 '56044',
 '00276',
 '03535',
 '53041',
 '59144',
 '71152',
 '00183',
 '04405',
 '07644',
 '74289',
 '00123',
 '29159',
 '00046',
 '89195',
 '95127',
 '83257',
 '37249',
 '99376',
 '17415',
 '00196',
 '05368',
 '51973',
 '06855',
 '53151',
 '29309',
 '05507',
 '62768',
 '37216',
 '00224',
 '65301',
 '28593',
 '05182',
 '05063',
 '00159',
 '73000',
 '20606',
 '61746',
 '82685',
 '68006',
 '00353',
 '75061',
 '00267',
 '00008',
 '61813',
 '10375',
 '00252',
 '80673',
 '49596',
 '00296',
 '14767',
 '66437',
 '39764',
 '82951',
 '00158',
 '65555',
 '18524',
 '61806',
 '12345',
 '60250',
 '55806',
 '16604',
 '02913',
 '00319',
 '38121',
 '59721',
 '70187',
 '16247',
 '88973',
 '76475',
 '01403',
 '41182',
 '22545',
 '03100',
 '19852',
 '71805',
 '05091',
 '10487',
 '01636',
 '07427',
 '19527',
 '41026',
 '75487',
 '00153',
 '17769',
 '64503',
 '02889',
 '18331',
 '26199',
 '51892',
 '21688',
 '00050',
 '33251',
 '05039',
 '19364',
 '77782',
 '50004',
 '00966',
 '30041',
 '16630',
 '84935',
 '22244',
 '00071',
 '68829',
 '72364',
 '05151',
 '75921',
 '28992',
 '25659',
 '03080',
 '63068',
 '66381',
 '14106',
 '44201',
 '39539',
 '24641',
 '15971',
 '13406',
 '00065',
 '77509',
 '00002',
 ...}

####คอลัมน์ date

In [14]:
alldb_choose['date']

1        2022-02-24
5        2022-02-25
7        2022-02-24
11       2022-02-25
12       2022-02-27
            ...
39813    2022-03-10
39814    2022-03-10
39815    2022-03-10
39816    2022-03-10
40017           NaN
Name: date, Length: 38508, dtype: object

In [15]:
alldb_choose['date'] = pd.to_datetime(alldb_choose['date'],format='%Y-%m-%d')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
alldb_choose.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38508 entries, 1 to 40017
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          38508 non-null  object
 1   RowKey        38508 non-null  object
 2   date          38206 non-null  datetime64[ns]
 3   ov            38287 non-null  object
 4   phone         38508 non-null  object
 5   site          38506 non-null  object
 6   time          38205 non-null  object
 7   urine         38382 non-null  object
 8   PartitionKey  38483 non-null  object
 9   title         38095 non-null  object
 10  age           37997 non-null  object
dtypes: datetime64[ns](1), object(10)
memory usage: 3.5+ MB

####คอลัมน์ site

In [17]:
alldb_choose= alldb_choose[(alldb_choose['site'].astype(str).str.isdigit()) & (alldb_choose['site'].str.len() == 5)] 
alldb_choose

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN

#### คอลัมน์ ov

In [18]:
alldb_choose['ov']

1        NaN
5        NaN
7        NaN
11       NaN
12       NaN
        ...
39812      1
39813      0
39814      1
39815      1
39816      1
Name: ov, Length: 38493, dtype: object

In [19]:
alldb_choose['ov'] = pd.to_numeric(alldb_choose['ov'], errors='coerce' )

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
alldb_choose['ov'] = alldb_choose['ov'].astype('Int64')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
set(alldb_choose['ov'])

{0, 1, 2, 3, 4, <NA>}

#### คอลัมน์ time

In [22]:
alldb_choose['time']

1        10:50:32
5        10:14:46
7        11:14:21
11       10:14:32
12       17:39:35
           ...
39812    11:36:34
39813    18:10:29
39814    12:14:41
39815    13:58:01
39816    13:57:58
Name: time, Length: 38493, dtype: object

In [23]:
alldb_choose['time'] = pd.to_datetime(alldb_choose['time'],format='%H-%M-%S',errors='ignore')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
alldb_choose.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38493 entries, 1 to 39816
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          38493 non-null  object
 1   RowKey        38493 non-null  object
 2   date          38193 non-null  datetime64[ns]
 3   ov            38273 non-null  Int64
 4   phone         38493 non-null  object
 5   site          38493 non-null  object
 6   time          38192 non-null  object
 7   urine         38369 non-null  object
 8   PartitionKey  38473 non-null  object
 9   title         38084 non-null  object
 10  age           37986 non-null  object
dtypes: Int64(1), datetime64[ns](1), object(9)
memory usage: 3.6+ MB

#### คอลัมน์ title

In [25]:
alldb_choose[['title']] = alldb_choose[['title']].fillna(value ={ 'title' : 'ไม่ระบุ'}) #แทนค่าว่างด้วยคำว่า ไม่ระบุ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [26]:
alldb_choose.isnull().sum()

user              0
RowKey            0
date            300
ov              220
phone             0
site              0
time            301
urine           124
PartitionKey     20
title             0
age             507
dtype: int64

In [27]:
set(alldb_choose['title']) # ดูว่าข้อมูลมีค่าอะไรอยู่บ้าง พบว่าสามารถบ่บอกถึงเพศได้

{'  นาง',
 ' นาง',
 ' นางสาว',
 ' นาย',
 'Mrs',
 'data is not completed',
 'ชาย',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นาง.',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นางสาว                   ',
 'นาน',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'น่าย',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พระปลัด',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ร.ต.ท.',
 'ร.ต.อ.',
 'รต.',
 'ว่าที่ ร.ต.',
 'ว่าที่ ร.ท.',
 'ว่าที่ร้อยตรี',
 'ส.อ.',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง',
 'ไม่ระบุ'}

In [28]:
alldb_choose['title'].replace({'  นาง':'หญิง',
                            ' นาง':'หญิง',
                            ' นางสาว':'หญิง',
                            ' นาย':'ชาย',
                            'Mrs':'หญิง',
                            'data is not completed':'ไม่ระบุ',
                            'okp':'ไม่ระบุ',
                            'ด.ช.':'ชาย',
                            'ด.ญ.':'หญิง',
                            'ด.ต.':'ไม่ระบุ',
                            'น':'ชาย',
                            'น.ส':'หญิง',
                            'น.ส ':'หญิง',
                            'น.ส.':'หญิง',
                            'นส':'หญิง',
                            'นส.':'หญิง',
                            'นส. ':'หญิง',
                            'นาง':'หญิง',
                            'นาง ':'หญิง',
                            'นาง.':'หญิง',
                            'นางl':'หญิง',
                            'นางสาว':'หญิง',
                            'นางสาว ':'หญิง',
                            'นางสาว                   ':'หญิง',
                            'นาน':'ไม่ระบุ',
                            'นาบ':'ไม่ระบุ',
                            'นาย':'ชาย',
                            'นาย ':'ชาย',
                            'นาย  ':'ชาย',
                            'นาว':'ไม่ระบุ',
                            'นาวสาว':'หญิง',
                            'นา่ง':'หญิง',
                            'น่าย':'ชาย',
                            'พจอ.':'ไม่ระบุ',
                            'พระ':'ไม่ระบุ',
                            'พระครุ':'ไม่ระบุ',
                            'พระปลัด':'ไม่ระบุ',
                            'พลฯ':'ไม่ระบุ',
                            'ร.ต.':'ไม่ระบุ',
                            'ร.ต.ต.':'ไม่ระบุ',
                            'ร.ต.ท.':'ไม่ระบุ',
                            'ร.ต.อ.':'ไม่ระบุ',
                            'รต.':'ไม่ระบุ',
                            'ว่าที่ ร.ต.':'ไม่ระบุ',
                            'ว่าที่ ร.ท.':'ไม่ระบุ',
                            'ว่าที่ร้อยตรี':'ไม่ระบุ',
                            'ส.อ.':'ไม่ระบุ',
                            'ืนาง':'หญิง',
                            'เด็กชาย':'ชาย',
                            'เด็กหญิง':'หญิง'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [29]:
set(alldb_choose['title'])

{'ชาย', 'หญิง', 'ไม่ระบุ'}

#### คอลัมน์ age

In [30]:
alldb_choose['age'] = pd.to_numeric(alldb_choose['age'], errors='coerce' )     # เปลี่ยน tpye ข้อมูล  errors='coerce' การแยกวิเคราะห์ที่ไม่ถูกต้องจะถูกตั้งค่าเป็น NaN
alldb_choose

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,<NA>,"iPhone10,4",05310,10:50:32,NaN,NaN,ไม่ระบุ,NaN
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,<NA>,"iPhone13,2",05248,10:14:46,NaN,NaN,ไม่ระบุ,NaN
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,<NA>,"iPhone10,4",05310,11:14:21,NaN,NaN,ไม่ระบุ,NaN
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,<NA>,"iPhone13,2",05248,10:14:32,NaN,NaN,ไม่ระบุ,NaN
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,<NA>,"iPhone13,3",22222,17:39:35,NaN,NaN,ไม่ระบุ,NaN
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่ระบุ,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่ระบุ,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่ระบุ,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่ระบุ,NaN

In [31]:
alldb_choose[(alldb_choose['age']>0)&(alldb_choose['age']<=100)].mean()  #ใช้คำสั่ง .mean เพื่อดูค่าเฉลี่ยของอายุ

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

user                  inf
ov               0.916631
site                  inf
PartitionKey          inf
age             53.908476
dtype: float64

In [32]:
alldb_choose=alldb_choose.fillna(value ={ 'age' : 53.902041})  ## แก้คอลลัมน์ age เติมค่าว่าง โดยใช้คำสั่ง .fillna() ซึ่งค่าที่นำมาใส่คือค่าเฉลี่ยของอายุ
alldb_choose

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,<NA>,"iPhone10,4",05310,10:50:32,NaN,NaN,ไม่ระบุ,53.902041
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,<NA>,"iPhone13,2",05248,10:14:46,NaN,NaN,ไม่ระบุ,53.902041
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,<NA>,"iPhone10,4",05310,11:14:21,NaN,NaN,ไม่ระบุ,53.902041
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,<NA>,"iPhone13,2",05248,10:14:32,NaN,NaN,ไม่ระบุ,53.902041
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,<NA>,"iPhone13,3",22222,17:39:35,NaN,NaN,ไม่ระบุ,53.902041
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่ระบุ,53.902041
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่ระบุ,53.902041
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,53.902041
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041

In [33]:
set(alldb_choose['age'])

{-5789.0,
 -5441.0,
 -233.0,
 -37.0,
 -32.0,
 -29.0,
 0.0,
 1.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 53.902041,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 97.0,
 127.0,
 138.0,
 151.0,
 312.0,
 315.0,
 507.0,
 590.0,
 591.0,
 1052.0,
 2030.0,
 2046.0,
 2051.0,
 2057.0,
 2063.0}

In [34]:
alldb_choose['age'].replace({-5789.0:53.902041,
                            -5441.0:53.902041,
                            -233.0:53.902041,
                            -37.0:53.902041,
                            -32.0:53.902041,
                            -29.0:53.902041,
                            0.0:53.902041,
                            127.0:53.902041,
                            138.0:53.902041,
                            151.0:53.902041,
                            312.0:53.902041,
                            315.0:53.902041,
                            507.0:53.902041,
                            590.0:53.902041,
                            591.0:53.902041,
                            1052.0:53.902041,
                            2030.0:53.902041,
                            2046.0:53.902041,
                            2051.0:53.902041,
                            2057.0:53.902041,
                            2063.0:53.902041},inplace=True)

In [35]:
set(alldb_choose['age'])

{1.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 53.902041,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 97.0}

In [36]:
alldb_choose.isnull().any()

user            False
RowKey          False
date             True
ov               True
phone           False
site            False
time             True
urine            True
PartitionKey     True
title           False
age             False
dtype: bool

In [37]:
alldb_choose.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38493 entries, 1 to 39816
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          38493 non-null  object
 1   RowKey        38493 non-null  object
 2   date          38193 non-null  datetime64[ns]
 3   ov            38273 non-null  Int64
 4   phone         38493 non-null  object
 5   site          38493 non-null  object
 6   time          38192 non-null  object
 7   urine         38369 non-null  object
 8   PartitionKey  38473 non-null  object
 9   title         38493 non-null  object
 10  age           38493 non-null  float64
dtypes: Int64(1), datetime64[ns](1), float64(1), object(8)
memory usage: 3.6+ MB

In [38]:
alldb_drop = alldb_choose.dropna()
alldb_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
185,85879,shmpdrmtgc.png,2022-03-24,0,OPPO CPH2293,05194,13:08:39,มีตะกอน,0000,ไม่ระบุ,53.902041
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,ไม่ระบุ,53.902041
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),00000,ไม่ระบุ,53.902041
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,หญิง,47.000000
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,หญิง,41.000000
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่ระบุ,53.902041
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่ระบุ,53.902041
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,53.902041
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041

In [39]:
removes = alldb_choose.shape[0] - alldb_drop.shape[0]
print(f'size before drop = {alldb_choose.shape[0]}')
print(f'size after drop = {alldb_drop.shape[0]}')
print(f'we lost {100*(removes/alldb_drop.shape[0])}% of data')

size before drop = 38493
size after drop = 37964
we lost 1.3934253503318934% of data

#ข้อมูล hospital

In [40]:
import pandas as pd #import ฟังก์ชั่นที่ต้องใช้ในการสร้างตาราง

In [41]:
from google.colab import drive #เชื่อมต่อ colab เข้ากับไดร์ฟในข้อมูล
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [42]:
import os #จัดการหาไฟล์ที่อยู่ในไดร์ฟ

In [43]:
path = '/content/drive/My Drive/FinalExam' #ชี้ไฟล์ในไดร์ฟ

In [44]:
data_hospital = os.path.join(path,'hospital_list.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_hospital)

/content/drive/My Drive/FinalExam/hospital_list.csv

In [45]:
hospital = pd.read_csv(data_hospital)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid2
hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

###เลือกคอลัมน์ที่ต้องการ

In [46]:
hospital_choose = hospital[['hcode','name','zone_name','province','amphur','tambon','name5']]
hospital_choose

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

In [47]:
hospital_choose= hospital_choose[(hospital_choose['hcode'].astype(str).str.isdigit()) & (hospital_choose['hcode'].str.len() == 5)] 
hospital_choose

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

In [48]:
hospital_choose.isnull().any()

hcode        False
name          True
zone_name     True
province     False
amphur        True
tambon        True
name5         True
dtype: bool

In [49]:
hospital_choose = hospital_choose.fillna(value = {'name':'ไม่ระบุ','zone_name':'ไม่ระบุ','amphur':'ไม่ระบุ','tambon':'ไม่ระบุ','name5':'ไม่ระบุ'})

In [50]:
hospital_choose.isnull().any()

hcode        False
name         False
zone_name    False
province     False
amphur       False
tambon       False
name5        False
dtype: bool

##เชื่อมตาราง

In [51]:
alldb_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
185,85879,shmpdrmtgc.png,2022-03-24,0,OPPO CPH2293,05194,13:08:39,มีตะกอน,0000,ไม่ระบุ,53.902041
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,ไม่ระบุ,53.902041
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),00000,ไม่ระบุ,53.902041
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,หญิง,47.000000
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,หญิง,41.000000
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่ระบุ,53.902041
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่ระบุ,53.902041
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,53.902041
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041

In [52]:
hospital_choose

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

In [64]:
data_all01= alldb_drop.merge(hospital_choose,how='left',left_on='site',right_on='hcode')
data_all01

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age,hcode,name,zone_name,province,amphur,tambon,name5
0,85879,shmpdrmtgc.png,2022-03-24,0,OPPO CPH2293,05194,13:08:39,มีตะกอน,0000,ไม่ระบุ,53.902041,05194,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองหว้า ตำบลกก...,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,หนองพอก,กกโพธิ์,โรงพยาบาลส่งเสริมสุขภาพตำบล
1,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,ไม่ระบุ,53.902041,04999,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเปลือย,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,บรบือ,หนองโก,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),00000,ไม่ระบุ,53.902041,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
3,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,หญิง,47.000000,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,หญิง,41.000000,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37959,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่ระบุ,53.902041,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37960,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่ระบุ,53.902041,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37961,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,53.902041,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37962,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37963,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
data_all01.isnull().sum()

user             0
RowKey           0
date             0
ov               0
phone            0
site             0
time             0
urine            0
PartitionKey     0
title            0
age              0
hcode           74
name            74
zone_name       74
province        74
amphur          74
tambon          74
name5           74
dtype: int64

In [66]:
data_all02 = data_all01.dropna()
data_all02

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age,hcode,name,zone_name,province,amphur,tambon,name5
0,85879,shmpdrmtgc.png,2022-03-24,0,OPPO CPH2293,05194,13:08:39,มีตะกอน,0000,ไม่ระบุ,53.902041,05194,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองหว้า ตำบลกก...,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,หนองพอก,กกโพธิ์,โรงพยาบาลส่งเสริมสุขภาพตำบล
1,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,ไม่ระบุ,53.902041,04999,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเปลือย,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,บรบือ,หนองโก,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),00000,ไม่ระบุ,53.902041,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
3,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,หญิง,47.000000,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,หญิง,41.000000,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37947,76331,pvpiawlexb.png,2022-02-23,1,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),92,ไม่ระบุ,53.902041,05258,โรงพยาบาลส่งเสริมสุขภาพตำบลหนองตาโฮม ตำบลขี้เหล็ก,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,อาจสามารถ,ขี้เหล็ก,โรงพยาบาลส่งเสริมสุขภาพตำบล
37948,68317,rtutxrlbam.png,2022-02-23,2,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),976,ไม่ระบุ,53.902041,28017,โรงพยาบาลนาคู,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,นาคู,นาคู,โรงพยาบาลชุมชน
37949,68317,dmuragqwza.png,2022-02-23,2,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),983,ไม่ระบุ,53.902041,28017,โรงพยาบาลนาคู,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,นาคู,นาคู,โรงพยาบาลชุมชน
37950,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,1,"iPhone11,8",11088,10:25:32,ปกติ (เหลืองใส),99444,ไม่ระบุ,53.902041,11088,โรงพยาบาลห้วยผึ้ง,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ห้วยผึ้ง,นิคมห้วยผึ้ง,โรงพยาบาลชุมชน
37951,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,0,"iPhone10,5",05396,11:03:40,ปกติ (เหลืองใส),99771,ไม่ระบุ,53.902041,05396,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านสูงเนิน,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,คำม่วง,เนินยาง,โรงพยาบาลส่งเสริมสุขภาพตำบล

In [67]:
removes = data_all01.shape[0] - data_all02.shape[0]
print(f'size before drop = {data_all01.shape[0]}')
print(f'size after drop = {data_all02.shape[0]}')
print(f'we lost {100*(removes/data_all02.shape[0])}% of data')

size before drop = 37964
size after drop = 37890
we lost 0.19530219055159673% of data

# Save ไฟล์

In [68]:
data_all02.to_csv('data_all02.csv', encoding='utf-8')