<a href="https://colab.research.google.com/github/nichakornchaisuwan/data_viz_2022/blob/main/Project_%E0%B8%81%E0%B8%A5%E0%B8%B8%E0%B9%88%E0%B8%A1%E0%B8%99%E0%B8%B5%E0%B9%89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##ข้อมูลการเเบ่งตามภูมิภาคของประเทศไทย

###สร้างตาราง

In [3]:
import pandas as pd

In [5]:
#วิธีDictionary(column oriented) สร้างตัวเเปร data_province ขึ้นมา เเล้วกำหนดคอลัมน์ ได้เเก่ จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
data_province = {'จังหวัด':['อำนาจเจริญ', 'บึงกาฬ', 'บุรีรัมย์', 'ชัยภูมิ', 'กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม', 'มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู', 'หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ', 'สุรินทร์', 'อุบลราชธานี', 'อุดรธานี',
                       'ยโสธร','เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี',
                       'อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี', 'ปทุมธานี', 'สมุทรปราการ', 'สมุทรสาคร', 'สมุทรสงคราม', 'สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี',
                       'นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา',
                       'กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],
                    '6 ภูมิภาค (ภูมิศาสตร์)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง',
                        'ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],
                    '4 ภูมิภาคการเมือง':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง',
                        'กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],
                    '6 ภูมิภาค (อุตุนิยมวิทยา)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง',
                        'ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย',
                        'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย',
                        'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'],
                    '5 ภูมิภาค (การท่องเที่ยว)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง',
                        'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']
                    
             }

In [6]:
province_all = pd.DataFrame.from_dict(data_province) #สร้างตารางpandasจากdata_province
province_all #เเสดงข้อมูลในตารางทั้งหมด

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

#### เช็คความถูกต้องของกการจัดกลุ่ม

In [7]:
set(province_all['6 ภูมิภาค (ภูมิศาสตร์)'])

{'กลาง', 'ตะวันตก', 'ตะวันออก', 'ตะวันออกเฉียงเหนือ', 'เหนือ', 'ใต้'}

In [8]:
set(province_all['4 ภูมิภาคการเมือง'])

{'กลาง', 'ตะวันออกเฉียงเหนือ', 'เหนือ', 'ใต้'}

In [9]:
set(province_all['6 ภูมิภาค (อุตุนิยมวิทยา)'])

{'กลาง',
 'ตะวันออก',
 'ตะวันออกเฉียงเหนือ',
 'เหนือ',
 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน',
 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย'}

In [10]:
set(province_all['5 ภูมิภาค (การท่องเที่ยว)'])

{'กลาง', 'ตะวันออก', 'ตะวันออกเฉียงเหนือ', 'เหนือ', 'ใต้'}

###ตรวจสอบค่า Missing

In [11]:
province_all.isnull().any() ## .isnull() ดูค่าว่าง ถ้าไม่มีจะแสดงเป็น false , .any() แสดงคอลลัมน์

จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาคการเมือง            False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

In [12]:
province_all.isnull()  ## .isnull() ดูค่าว่าง ถ้าไม่มีจะแสดงเป็นตาราง false

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,False,False,False,False,False
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
...,...,...,...,...,...
72,False,False,False,False,False
73,False,False,False,False,False
74,False,False,False,False,False
75,False,False,False,False,False
76,False,False,False,False,False

**จากการตรวจสอบค่า Missing ของข้อมูล สรุปได้ว่า ตาราง province_all ไม่มีค่า missing**

#ข้อมูลการยืนยันผู้ติดเชื้อโควิด - 19

ตั้งแต่วันที่ 12 มกราคม 2563 ถึง 18 มีนาคม 2565

## load data

In [13]:
import pandas as pd #import paddas เพื่อนำเอาไปใช้งาน

In [14]:
from google.colab import drive #เชื่อมต่อ colab เข้ากับไดร์ฟในข้อมูล
drive.mount('/content/drive')

Mounted at /content/drive

In [15]:
import os #จัดการหาไฟล์ที่อยู่ในไดร์ฟ

In [16]:
path = '/content/drive/My Drive/data_projectกลุ่มนี้' #ชี้ไฟล์ในไฟล์

In [17]:
data_con1 = os.path.join(path,'confirmed-cases.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_con1)

/content/drive/My Drive/data_projectกลุ่มนี้/confirmed-cases.csv

In [18]:
data_con2 = os.path.join(path,'confirmed-cases-since-120864.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_con2)

/content/drive/My Drive/data_projectกลุ่มนี้/confirmed-cases-since-120864.csv

In [19]:
data_con3 = os.path.join(path,'confirmed-cases-since-271064.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_con3)

/content/drive/My Drive/data_projectกลุ่มนี้/confirmed-cases-since-271064.csv

In [20]:
data_con4 = os.path.join(path,'confirmed-cases-since-280265.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_con4)

/content/drive/My Drive/data_projectกลุ่มนี้/confirmed-cases-since-280265.csv

In [21]:
data_covid1 = pd.read_csv(data_con1)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid
data_covidnew = data_covid1.iloc[:816989,:] # เนื่องจากมีการเก็บข้อมูลซ้ำกับไฟล์ถัดไป จัดทำการตัดข้อมูล เพื่อไม่ให้ซ้ำกัน
data_covidnew

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,11/8/2021,10/8/2021,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,11/8/2021,10/8/2021,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,11/8/2021,10/8/2021,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,11/8/2021,10/8/2021,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,11/8/2021,10/8/2021,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

In [22]:
data_covid2 = pd.read_csv(data_con2)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid
data_covid2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [23]:
data_covid3 = pd.read_csv(data_con3)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid
data_covid3

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [24]:
data_covid4 = pd.read_csv(data_con4)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid
data_covid4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [25]:
data_covidall = pd.concat([data_covidnew,data_covid2,data_covid3,data_covid4])
data_covidall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [26]:
data_covidall.shape

(3303169, 12)

###ตรวจสอบค่า Missing

In [27]:
data_covidall.isnull().any() #ตรวจสอบค่า Missing

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
Unnamed: 11               True
dtype: bool

### แทนค่า Missing ของคอลัมน์ Notified data ด้วยค่าที่เหมาะสม

In [28]:
data_covidall=data_covidall.fillna(value ={ 'Notified date' : data_covidall['announce_date']})  ## แก้ค่า Missing ในคอลลัมน์ Notified date เติมค่าว่าง โดยใช้คำสั่ง .fillna() ซึ่งค่าที่นำมาใส่คือ ค่าจากคอลลัมน์ announce_date
data_covidall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,24/1/2020,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

####แทนค่า Missing ของคอลัมน์ *sex* ด้วยค่า Mode (ฐานนิยม)

In [29]:
data_covidall['sex'].mode()  ## หาค่าที่ซ้ำกันมากที่สุดโดยใช้ .mode

0    หญิง
dtype: object

In [30]:
data_covidall=data_covidall.fillna(value ={ 'sex' : 'หญิง'})  ## แก้คอลลัมน์ sex เติมค่าว่าง โดยใช้คำสั่ง .fillna() ซึ่งค่าที่นำมาใส่คือ หญิง
data_covidall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,24/1/2020,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [31]:
set(data_covidall['sex'])

{'\xa0หญิง',
 'ช',
 'ชาย',
 'ญ',
 'นาย',
 'ร.ต.ท.',
 'หญง',
 'หญิง',
 'หญิิง',
 'หณิง',
 'หห'}

In [32]:
data_covidall['sex'].replace({'\xa0หญิง':'หญิง',
                            'ญ': 'หญิง',
                            'หญง' : 'หญิง',
                            'หญิิง' :'หญิง',
                            'หณิง' : 'หญิง',
                            'หห' : 'หญิง',
                            'ช' : 'ชาย',
                            'นาย' :'ชาย',
                            'ร.ต.ท.' : 'ชาย'},inplace = True)

In [33]:
set(data_covidall['sex'])

{'ชาย', 'หญิง'}

#### แทนค่า Missing ของคอลัมน์ *Unit* ด้วยค่า Mode (ฐานนิยม)

In [34]:
data_covidall['Unit'].mode()  ## หาค่าที่ซ้ำกันมากที่สุดโดยใช้ .mode

0    ปี
dtype: object

In [36]:
data_covidall=data_covidall.fillna(value ={ 'Unit' : 'ปี'})  ## แก้คอลลัมน์ Unit เติมค่าว่าง โดยใช้คำสั่ง .fillna() ซึ่งค่าที่นำมาใส่คือ ปี
data_covidall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,24/1/2020,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,ปี,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,ปี,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [37]:
set(data_covidall['Unit']) # ใช้ set ในการดูว่าในคอลัมน์ Unit มีการจัดกลุ่มอย่างไร

{' วัน', ' เดือน', 'ปี', 'วัน', 'เดือน'}

In [38]:
data_covidall['Unit'].replace({' วัน':'วัน',
                            ' เดือน' : 'เดือน'},inplace = True)

In [39]:
set(data_covidall['Unit'])

{'ปี', 'วัน', 'เดือน'}

#### แทนค่า Missing ของคอลัมน์ *nationality, province_of_isolation, province_of_onset, district_of_onset,risk* ด้วย class ใหม่

In [43]:
data_covidall=data_covidall.fillna(value ={ 'nationality' : 'ไม่ระบุ','province_of_isolation' : 'ไม่ระบุ','province_of_onset' : 'ไม่ระบุ','district_of_onset':'ไม่ระบุ','risk':'ไม่ระบุ'})  
data_covidall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
1,2,17/1/2020,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
2,3,22/1/2020,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
4,5,24/1/2020,24/1/2020,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN

In [50]:
set(data_covidall['province_of_isolation'])

{'กทม',
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภููเก็ต',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน',
 'ไม่ระบุ'}

In [49]:
data_covidall['Unit'].replace({'กทม':'กรุงเทพมหานคร',
                            ' เดือน' : 'เดือน'},inplace = True)

AttributeError: ignored

In [ ]:
set(data_covidall['province_of_onset'])

In [ ]:
data_covidall.replace(([''],''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([ ], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([ ], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))