<a href="https://colab.research.google.com/github/nichakornchaisuwan/data_viz_2022/blob/main/Project_%E0%B8%81%E0%B8%A5%E0%B8%B8%E0%B9%88%E0%B8%A1%E0%B8%99%E0%B8%B5%E0%B9%89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ข้อมูลการยืนยันผู้ติดเชื้อโควิด - 19

ตั้งแต่วันที่ 4 พฤษภาคม 2564 ถึง 18 มีนาคม 2565

## load data

In [1]:
import pandas as pd #import paddas เพื่อนำเอาไปใช้งาน

In [2]:
from google.colab import drive #เชื่อมต่อ colab เข้ากับไดร์ฟในข้อมูล
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os #จัดการหาไฟล์ที่อยู่ในไดร์ฟ

In [5]:
path = '/content/drive/My Drive/data_projectกลุ่มนี้' #ชี้ไฟล์ในไฟล์

In [11]:
data_con1 = os.path.join(path,'confirmed-cases.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_con1)

/content/drive/My Drive/data_projectกลุ่มนี้/confirmed-cases.csv

In [12]:
data_con2 = os.path.join(path,'confirmed-cases-since-120864.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_con2)

/content/drive/My Drive/data_projectกลุ่มนี้/confirmed-cases-since-120864.csv

In [13]:
data_con3 = os.path.join(path,'confirmed-cases-since-271064.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_con3)

/content/drive/My Drive/data_projectกลุ่มนี้/confirmed-cases-since-271064.csv

In [14]:
data_con4 = os.path.join(path,'confirmed-cases-since-280265.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_con4)

/content/drive/My Drive/data_projectกลุ่มนี้/confirmed-cases-since-280265.csv

In [25]:
data_covid1 = pd.read_csv(data_con1)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid
data_covidnew = data_covid1.iloc[:816989,:] # เนื่องจากมีการเก็บข้อมูลซ้ำกับไฟล์ถัดไป จัดทำการตัดข้อมูล เพื่อไม่ให้ซ้ำกัน
data_covidnew

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,11/8/2021,10/8/2021,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,11/8/2021,10/8/2021,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,11/8/2021,10/8/2021,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,11/8/2021,10/8/2021,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,11/8/2021,10/8/2021,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

In [23]:
data_covid2 = pd.read_csv(data_con2)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid
data_covid2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [19]:
data_covid3 = pd.read_csv(data_con3)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid
data_covid3

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [21]:
data_covid4 = pd.read_csv(data_con4)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid
data_covid4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [32]:
data_covidall = pd.concat([data_covidnew,data_covid2,data_covid3,data_covid4])
data_covidall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [30]:
data_covidall.shape

(3303169, 12)

In [34]:
set(data_covidall['province_of_onset'])

{'\tประจวบคีรีขันธ์',
 'USA',
 nan,
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กทม.',
 'กบินทร์บุรี',
 'กระบี่',
 'กระบี่ี่',
 'กรุงเทพ',
 'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา',
 'กรุงเทพมหานคร. / ศรีสะเกษ',
 'กรุงเทพฯ',
 'กะทู้',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาญจบุรี',
 'กาญนบุรี',
 'กาฬสิน',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธุ์\xa0',
 'กาฬสินธ์',
 'กำเพงเพชร',
 'กำแพง',
 'กำแพงเพชร',
 'กำแพงเพชร\xa0',
 'กําแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'ขอนแก่่น',
 'ขัยนาท',
 'ขัยภูมิ',
 'ขานุวรลักษณ์บุรี',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คลองเตย',
 'จ.กรุงเทพมหานคร',
 'จ.ภูเก็ต',
 'จ.ราชบุรี',
 'จ.สุราษฎร์ธานี',
 'จังหวัดสมุทรสาคร',
 'จันทบุรี',
 'ฉะเชองเทราร',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุรี\xa0',
 'ชลบุุรี',
 'ชอนแก่น',
 'ชัยนาถ',
 'ชัยนาท',
 'ชัยบาดาล',
 'ชัยภูมิ',
 'ชัยภูมิ\xa0',
 'ชุมพร',
 'ชุุมพร',
 'ชุุุมพร',
 'ดอนมดแดง',
 'ดินแดง',
 'ตรัง',
 'ตรััง',
 'ตราด',
 'ตราด\xa0',
 'ตาก',
 'ตากใบ',
 'ต่างจังหวัด',
 'ทุ่งเสลี่ยม',
 'ท้ายบ้าน',
 'ธารโต',
 'นคนปฐม',
 'นคปฐม',
 'นครนปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปฐม\xa0',
 'นครปบม',
 'นครพนม',
 'นครพนม\xa0',
 'นครยายก',
 'นครราขสีมา',
 'นครราชธานี',
 'นครราชศรีมา',
 'นครราชสสีมา',
 'นครราชสีมา',
 'นครราชสีมา ลพบุรี',
 'นครราชสีมา\xa0',
 'นครศรธรรมราช',
 'นครศรี',
 'นครศรีธรมมราช',
 'นครศรีธรมราช',
 'นครศรีธรรมราข',
 'นครศรีธรรมราช',
 'นครศรีฯ',
 'นครศรีีธรรมราช',
 'นครศร๊ธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสรรค์',
 'นครสรีธรรมราช',
 'นครสวรรค',
 'นครสวรรค์',
 'นครสวรรค์\xa0',
 'นครสีธรรมราช',
 'นครฯ',
 'นคราชสีมา',
 'นครีศรีธรรมราช',
 'นตรนายก',
 'นตรปฐม',
 'นนทบุรี',
 'นนทบุรี\xa0',
 'นนทบุุรี',
 'นนทุบรี',
 'นนทุรี',
 'นนมบุรี',
 'นรศรีธรรมราช',
 'นราธิวาส',
 'นราธิวาส\u200b',
 'นราธฺวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'น่าน/ฉะเชิงเทรา',
 'บางกรวย',
 'บางกะปิ',
 'บางนา',
 'บางปะอิน',
 'บางละมุง',
 'บางศรีเมือง',
 'บางเพียง',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมภ์',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรัยม์',
 'บุรีรีมย์',
 'บ้านหลวง',
 'ปจ',
 'ปทึมธานี',
 'ปทุทธานี',
 'ปทุมฑานี',
 'ปทุมทานี',
 'ปทุมธาน',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานี\xa0',
 'ปทุมธานีี',
 'ปทุมาธานี',
 'ปทุุมธานี',
 'ปธุมธานี',
 'ปมุมธานี',
 'ประจวนคีรีขันธ็',
 'ประจวบ',
 'ประจวบคิรีขันธ์',
 'ประจวบคีรขันธ์',
 'ประจวบคีรขัันธ์',
 'ประจวบคีรีขัน',
 'ประจวบคีรีขันธื',
 'ประจวบคีรีขันธฺ',
 'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0',
 'ประจวบคีรีขันธ์์',
 'ประจวบคีรีขัันธ์',
 'ประจวบคีีรีขันธ์',
 'ประจวบฯ',
 'ประทุมธานี',
 'ประเทศกัมพูชา',
 'ปราจีนบุรี',
 'ปราจีบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปอยเปต',
 'ปัตตนรี',
 'ปัตตานนี',
 'ปัตตานี',
 'ปัตตานีี',
 'ปัว',
 'ปััตตานี',
 'ปุทมธานี',
 'ป่าโมก',
 'พม่า',
 'พรหมพิราม',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุทยา',
 'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา\xa0',
 'พะเยา',
 'พังงา',
 'พัทยา',
 'พัทลุง',
 'พัทลุุง',
 'พัังงา',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณุโลก\xa0',
 'พิษณูโลก',
 'ฟินแลนด์',
 'ภาษีเจริญ',
 'ภุเก็ต',
 'ภูุเก็ต',
 'ภููเก็ต',
 'ภูเก็ต',
 'ภูเก็็ต',
 'ภูเพียง',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'มุกาดหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ร.จ.จ.นราธิวาส',
 'รอ',
 'ระนอง',
 'ระบุ',
 'ระยอง',
 'ระยอง\xa0',
 'ระอยง',
 'ราชบบุรี',
 'ราชบุรี',
 'ราชบุรีี',
 'ราชบุรี\u200b',
 'ราชุรี',
 'ราชเทวี',
 'ร้องกวาง',
 'ร้อยเอ็ด',
 'ลบุรี',
 'ลพบุรี',
 'ลพบุรี.',
 'ลพบุรี\xa0',
 'ลอง',
 'ลาดกระบัง',
 'ลาดพร้าว',
 'ลาว',
 'ลำปาง',
 'ลำพูน',
 'ลำพูน\u200b',
 'ลำพููน',
 'ลำลูกกา',
 'วังชิ้น',
 'วังทอง',
 'วิเศษชัยชาญ',
 'ศรีษะสะเกษ',
 'ศรีษะเกษ',
 'ศรีสระเกษ',
 'ศรีสะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สครสวรรค์',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สพรรณบุรี',
 'สมถทรปราการ',
 'สมทรสงคราม',
 'สมทรสาคร',
 'สมุครปราการ',
 'สมุครสาคร',
 'สมุท',
 'สมุทปราการ',
 'สมุทรปรากร',
 'สมุทรปรากรร',
 'สมุทรปรากา',
 'สมุทรปราการ',
 'สมุทรปราการ\xa0',
 'สมุทรศาคร',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทรสาคร\xa0',
 'สมุทรสาคา',
 'สมุทรสาคาร',
 'สมุทรสาทร',
 'สมุทรสารคร',
 'สมุทราปราการ',
 'สมุทราสาคร',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุย',
 'สมุุทรปราการ',
 'สมุุทรสงคราม',
 'สมุุทรสาคร',
 'สระก้ว',
 'สระบุรี',
 'สระบุรี\xa0',
 'สระแก้ว',
 'สรินทร์',
 'สวิสเซอร์แลนด์',
 'สอง',
 'สองแคว',
 'สะพานสูง',
 'สะแก้ว',
 'สัตหีบ',
 'สัมผัสผู้ป่วยยืนยัน COVID20',
 'สามุทรสาคร',
 'สารคาม',
 'สารภี',
 'สิงห์บุรี',
 'สิงห์บุรี\xa0',
 'สุทรปราการ',
 'สุพรรญบุรี',
 'สุพรรณบุรั',
 'สุพรรณบุรี',
 'สุพรรณบุรี\xa0',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุระบุรี',
 'สุราษ',
 'สุราษฎณ์ธานี',
 'สุราษฎธานี',
 'สุราษฎร์',
 'สุราษฎร์ธานี',
 'สุราษฎร์ฯ',
 'สุราษฎร์์ธานี',
 'สุราษฎ์ธานี',
 'สุราษฏร์ธานี',
 'สุราษธานี',
 'สุราษร์ฎธานี',
 'สุราษร์ธานี',
 'สุราษฯ',
 'สุรินทรื',
 'สุรินทร์',
 'สุรินทร์ 32150',
 'สุรินทร์,รีสะเกษ',
 'สุรินทร์\xa0',
 'สุริมทร์',
 'สุริะแก้ว',
 'สุวรรณภูมิ',
 'สุุพรรณบุรี',
 'สุุราษฎร์ธานี',
 'สุุราษฏร์ธานี',
 'สุุราษฯ',
 'สุุรินทร์',
 'สุุุโขทัย',
 'สุโขทับ',
 'สุโขทัย',
 'สุโขทัย\xa0',
 'สูงเม่น',
 'หนวงบัวลำภู',
 'หนองคาย',
 'หนองงคาย',
 'หนองบัวภู',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'หนองบัวลําภู',
 'หนองบััวลำภู',
 'หนองม่วงไข่',
 'หนอบัวลำภู',
 'หลายจังหวัด',
 'หัวหิน',
 'ห้วยขวาง',
 'อยุทธยา',
 'อยุธยา',
 'อยุุธยา',
 'อำนาจเจริญ',
 'อำนาจเจิญ',
 'อำนาญเจริญ',
 'อำนาเจริญ',
 'อิสราเอล',
 'อุดธานี',
 'อุดร',
 'อุดรธาณี',
 'อุดรธานี',
 'อุดรธานี\xa0',
 'อุดรธานีี',
 'อุดรราชธานี',
 'อุตรดิตถ์',
 'อุตรดิตถ์\xa0',
 'อุตรดิตถ์์',
 'อุตรดิษถ์',
 'อุตรดิิตถ์',
 'อุตรติดถ์',
 'อุทัยธานี',
 'อุทัยานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุบลราชธานี\xa0',
 'อุุครดิตถ์',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อุุบลราชธานี',
 'อ่งทอง',
 'อ่างทอง',
 'อ่างทอง\xa0',
 'อํานาจเจริญ',
 'เชิงเทรา',
 'เชียงราย',
 'เชียงใหม่',
 'เชียรใหญ่',
 'เชีียงราย',
 'เชีียงใหม่',
 'เด่นชัย',
 'เพขรบุรี',
 'เพขรบูรณื',
 'เพขรบูรณ์',
 'เพชรบุรณ์',
 'เพชรบุรี',
 'เพชรบุรึ',
 'เพชรบุุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เพชรบูรณ์\xa0',
 'เพชรบูร์',
 'เพชรบููรณ์',
 'เมือง',
 'เมืองตาก',
 'เมืองน่าน',
 'เมืองปัตตานี',
 'เรือ',
 'เลย',
 'เลย\xa0',
 'เวียงจันทร์',
 'เวียงสา',
 'แพร่',
 'แม่ทะ',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'โพธิ์ทอง',
 'ไชโย',
 'ไม่มีชื่อหอพัก',
 'ไม่ระบุ'}

In [ ]:
df.replace([0, 1, 2, 3], 4)

In [39]:
data_covidall.replace(([''],''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([ ], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([ ], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))
data_covidall.replace(([], ''))

/usr/local/lib/python3.7/dist-packages/pandas/core/missing.py:94: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN