<a href="https://colab.research.google.com/github/nichakornchaisuwan/data_viz_2022/blob/main/Project_%E0%B8%81%E0%B8%A5%E0%B8%B8%E0%B9%88%E0%B8%A1%E0%B8%99%E0%B8%B5%E0%B9%89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##ข้อมูลการเเบ่งตามภูมิภาคของประเทศไทย

###สร้างตาราง

In [1]:
import pandas as pd

In [2]:
#วิธีDictionary(column oriented) สร้างตัวเเปร data_province ขึ้นมา เเล้วกำหนดคอลัมน์ ได้เเก่ จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
data_province = {'จังหวัด':['อำนาจเจริญ', 'บึงกาฬ', 'บุรีรัมย์', 'ชัยภูมิ', 'กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม', 'มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู', 'หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ', 'สุรินทร์', 'อุบลราชธานี', 'อุดรธานี',
                       'ยโสธร','เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี',
                       'อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี', 'ปทุมธานี', 'สมุทรปราการ', 'สมุทรสาคร', 'สมุทรสงคราม', 'สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี',
                       'นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา',
                       'กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],
                    '6 ภูมิภาค (ภูมิศาสตร์)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง',
                        'ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],
                    '4 ภูมิภาคการเมือง':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง',
                        'กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],
                    '6 ภูมิภาค (อุตุนิยมวิทยา)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง',
                        'ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย',
                        'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย',
                        'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'],
                    '5 ภูมิภาค (การท่องเที่ยว)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง',
                        'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']
                    
             }

In [3]:
province_all = pd.DataFrame.from_dict(data_province) #สร้างตารางpandasจากdata_province
province_all #เเสดงข้อมูลในตารางทั้งหมด

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

#### เช็คความถูกต้องของกการจัดกลุ่ม

In [4]:
set(province_all['6 ภูมิภาค (ภูมิศาสตร์)'])

{'กลาง', 'ตะวันตก', 'ตะวันออก', 'ตะวันออกเฉียงเหนือ', 'เหนือ', 'ใต้'}

In [5]:
set(province_all['4 ภูมิภาคการเมือง'])

{'กลาง', 'ตะวันออกเฉียงเหนือ', 'เหนือ', 'ใต้'}

In [6]:
set(province_all['6 ภูมิภาค (อุตุนิยมวิทยา)'])

{'กลาง',
 'ตะวันออก',
 'ตะวันออกเฉียงเหนือ',
 'เหนือ',
 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน',
 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย'}

In [7]:
set(province_all['5 ภูมิภาค (การท่องเที่ยว)'])

{'กลาง', 'ตะวันออก', 'ตะวันออกเฉียงเหนือ', 'เหนือ', 'ใต้'}

###ตรวจสอบค่า Missing

In [8]:
province_all.isnull().any() ## .isnull() ดูค่าว่าง ถ้าไม่มีจะแสดงเป็น false , .any() แสดงคอลลัมน์

จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาคการเมือง            False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

In [9]:
province_all.isnull()  ## .isnull() ดูค่าว่าง ถ้าไม่มีจะแสดงเป็นตาราง false

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,False,False,False,False,False
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
...,...,...,...,...,...
72,False,False,False,False,False
73,False,False,False,False,False
74,False,False,False,False,False
75,False,False,False,False,False
76,False,False,False,False,False

**จากการตรวจสอบค่า Missing ของข้อมูล สรุปได้ว่า ตาราง province_all ไม่มีค่า missing**

#ข้อมูลการยืนยันผู้ติดเชื้อโควิด - 19

ตั้งแต่วันที่ 12 มกราคม 2563 ถึง 18 มีนาคม 2565

## load data

In [10]:
import pandas as pd #import paddas เพื่อนำเอาไปใช้งาน

In [11]:
from google.colab import drive #เชื่อมต่อ colab เข้ากับไดร์ฟในข้อมูล
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
import os #จัดการหาไฟล์ที่อยู่ในไดร์ฟ

In [13]:
path = '/content/drive/My Drive/data_projectกลุ่มนี้' #ชี้ไฟล์ในไฟล์

In [14]:
data_con1 = os.path.join(path,'confirmed-cases.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_con1)

/content/drive/My Drive/data_projectกลุ่มนี้/confirmed-cases.csv

In [15]:
data_con2 = os.path.join(path,'confirmed-cases-since-120864.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_con2)

/content/drive/My Drive/data_projectกลุ่มนี้/confirmed-cases-since-120864.csv

In [16]:
data_con3 = os.path.join(path,'confirmed-cases-since-271064.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_con3)

/content/drive/My Drive/data_projectกลุ่มนี้/confirmed-cases-since-271064.csv

In [17]:
data_con4 = os.path.join(path,'confirmed-cases-since-280265.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_con4)

/content/drive/My Drive/data_projectกลุ่มนี้/confirmed-cases-since-280265.csv

In [18]:
data_covid1 = pd.read_csv(data_con1)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid
data_covidnew = data_covid1.iloc[:816989,:] # เนื่องจากมีการเก็บข้อมูลซ้ำกับไฟล์ถัดไป จัดทำการตัดข้อมูล เพื่อไม่ให้ซ้ำกัน
data_covidnew

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,11/8/2021,10/8/2021,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,11/8/2021,10/8/2021,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,11/8/2021,10/8/2021,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,11/8/2021,10/8/2021,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,11/8/2021,10/8/2021,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

In [19]:
data_covid2 = pd.read_csv(data_con2)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid
data_covid2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [20]:
data_covid3 = pd.read_csv(data_con3)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid
data_covid3

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [21]:
data_covid4 = pd.read_csv(data_con4)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid
data_covid4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [22]:
data_covidall = pd.concat([data_covidnew,data_covid2,data_covid3,data_covid4])
data_covidall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [23]:
data_covidall.shape

(3303169, 12)

###ตรวจสอบค่า Missing

In [24]:
data_covidall.isnull().any() #ตรวจสอบค่า Missing

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
Unnamed: 11               True
dtype: bool

### แทนค่า Missing ของคอลัมน์ Notified data ด้วยค่าที่เหมาะสม

In [25]:
data_covidall=data_covidall.fillna(value ={ 'Notified date' : data_covidall['announce_date']})  ## แก้ค่า Missing ในคอลลัมน์ Notified date เติมค่าว่าง โดยใช้คำสั่ง .fillna() ซึ่งค่าที่นำมาใส่คือ ค่าจากคอลลัมน์ announce_date
data_covidall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,24/1/2020,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

####แทนค่า Missing ของคอลัมน์ *sex* ด้วยค่า Mode (ฐานนิยม)

In [26]:
data_covidall['sex'].mode()  ## หาค่าที่ซ้ำกันมากที่สุดโดยใช้ .mode

0    หญิง
dtype: object

In [27]:
data_covidall=data_covidall.fillna(value ={ 'sex' : 'หญิง'})  ## แก้คอลลัมน์ sex เติมค่าว่าง โดยใช้คำสั่ง .fillna() ซึ่งค่าที่นำมาใส่คือ หญิง
data_covidall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,24/1/2020,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [28]:
set(data_covidall['sex'])

{'\xa0หญิง',
 'ช',
 'ชาย',
 'ญ',
 'นาย',
 'ร.ต.ท.',
 'หญง',
 'หญิง',
 'หญิิง',
 'หณิง',
 'หห'}

In [29]:
data_covidall['sex'].replace({'\xa0หญิง':'หญิง',
                            'ญ': 'หญิง',
                            'หญง' : 'หญิง',
                            'หญิิง' :'หญิง',
                            'หณิง' : 'หญิง',
                            'หห' : 'หญิง',
                            'ช' : 'ชาย',
                            'นาย' :'ชาย',
                            'ร.ต.ท.' : 'ชาย'},inplace = True)

In [30]:
set(data_covidall['sex'])

{'ชาย', 'หญิง'}

#### แทนค่า Missing ของคอลัมน์ *Unit* ด้วยค่า Mode (ฐานนิยม)

In [31]:
data_covidall['Unit'].mode()  ## หาค่าที่ซ้ำกันมากที่สุดโดยใช้ .mode

0    ปี
dtype: object

In [32]:
data_covidall=data_covidall.fillna(value ={ 'Unit' : 'ปี'})  ## แก้คอลลัมน์ Unit เติมค่าว่าง โดยใช้คำสั่ง .fillna() ซึ่งค่าที่นำมาใส่คือ ปี
data_covidall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,24/1/2020,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,ปี,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,ปี,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [33]:
set(data_covidall['Unit']) # ใช้ set ในการดูว่าในคอลัมน์ Unit มีการจัดกลุ่มอย่างไร

{' วัน', ' เดือน', 'ปี', 'วัน', 'เดือน'}

In [34]:
data_covidall['Unit'].replace({' วัน':'วัน',
                            ' เดือน' : 'เดือน'},inplace = True)

In [35]:
set(data_covidall['Unit'])

{'ปี', 'วัน', 'เดือน'}

#### แทนค่า Missing ของคอลัมน์ *nationality, province_of_isolation, province_of_onset, district_of_onset,risk* ด้วย class ใหม่

In [36]:
data_covidall=data_covidall.fillna(value ={ 'nationality' : 'ไม่ระบุ','province_of_isolation' : 'ไม่ระบุ','province_of_onset' : 'ไม่ระบุ','district_of_onset':'ไม่ระบุ','risk':'ไม่ระบุ'})  
data_covidall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
1,2,17/1/2020,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
2,3,22/1/2020,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
4,5,24/1/2020,24/1/2020,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN

In [37]:
set(data_covidall['province_of_isolation'])

{'กทม',
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภููเก็ต',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน',
 'ไม่ระบุ'}

In [38]:
data_covidall['province_of_isolation'].replace({'กทม':'กรุงเทพมหานคร',
                                                    'ขอนแก่น\xa0':'ขอนแก่น',
                                                    'ภููเก็ต':'ภูเก็ต'},inplace = True)

In [39]:
len(set(data_covidall['province_of_isolation']))

78

In [40]:
set(data_covidall['province_of_onset'])

{'\tประจวบคีรีขันธ์',
 'USA',
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กทม.',
 'กบินทร์บุรี',
 'กระบี่',
 'กระบี่ี่',
 'กรุงเทพ',
 'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา',
 'กรุงเทพมหานคร. / ศรีสะเกษ',
 'กรุงเทพฯ',
 'กะทู้',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาญจบุรี',
 'กาญนบุรี',
 'กาฬสิน',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธุ์\xa0',
 'กาฬสินธ์',
 'กำเพงเพชร',
 'กำแพง',
 'กำแพงเพชร',
 'กำแพงเพชร\xa0',
 'กําแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'ขอนแก่่น',
 'ขัยนาท',
 'ขัยภูมิ',
 'ขานุวรลักษณ์บุรี',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คลองเตย',
 'จ.กรุงเทพมหานคร',
 'จ.ภูเก็ต',
 'จ.ราชบุรี',
 'จ.สุราษฎร์ธานี',
 'จังหวัดสมุทรสาคร',
 'จันทบุรี',
 'ฉะเชองเทราร',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุรี\xa0',
 'ชลบุุรี',
 'ชอนแก่น',
 'ชัยนาถ',
 'ชัยนาท',
 'ชัยบาดาล',
 'ชัยภูมิ',
 'ชัยภูมิ\xa0',
 'ชุมพร',
 'ชุุมพร',
 'ชุุุมพร',
 'ดอนมดแดง',
 'ดินแดง',
 'ตรัง',
 'ตรััง',
 'ตราด',
 'ตราด\xa0',
 'ตาก',
 'ตากใบ',
 'ต่างจังหวัด',
 'ทุ่งเสลี่ยม',
 'ท้ายบ้าน',
 'ธารโต',
 'นคนปฐม',
 'นคปฐม',
 'นครนปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปฐม\xa0',
 'นครปบม',
 'นครพนม',
 'นครพนม\xa0',
 'นครยายก',
 'นครราขสีมา',
 'นครราชธานี',
 'นครราชศรีมา',
 'นครราชสสีมา',
 'นครราชสีมา',
 'นครราชสีมา ลพบุรี',
 'นครราชสีมา\xa0',
 'นครศรธรรมราช',
 'นครศรี',
 'นครศรีธรมมราช',
 'นครศรีธรมราช',
 'นครศรีธรรมราข',
 'นครศรีธรรมราช',
 'นครศรีฯ',
 'นครศรีีธรรมราช',
 'นครศร๊ธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสรรค์',
 'นครสรีธรรมราช',
 'นครสวรรค',
 'นครสวรรค์',
 'นครสวรรค์\xa0',
 'นครสีธรรมราช',
 'นครฯ',
 'นคราชสีมา',
 'นครีศรีธรรมราช',
 'นตรนายก',
 'นตรปฐม',
 'นนทบุรี',
 'นนทบุรี\xa0',
 'นนทบุุรี',
 'นนทุบรี',
 'นนทุรี',
 'นนมบุรี',
 'นรศรีธรรมราช',
 'นราธิวาส',
 'นราธิวาส\u200b',
 'นราธฺวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'น่าน/ฉะเชิงเทรา',
 'บางกรวย',
 'บางกะปิ',
 'บางนา',
 'บางปะอิน',
 'บางละมุง',
 'บางศรีเมือง',
 'บางเพียง',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมภ์',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรัยม์',
 'บุรีรีมย์',
 'บ้านหลวง',
 'ปจ',
 'ปทึมธานี',
 'ปทุทธานี',
 'ปทุมฑานี',
 'ปทุมทานี',
 'ปทุมธาน',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานี\xa0',
 'ปทุมธานีี',
 'ปทุมาธานี',
 'ปทุุมธานี',
 'ปธุมธานี',
 'ปมุมธานี',
 'ประจวนคีรีขันธ็',
 'ประจวบ',
 'ประจวบคิรีขันธ์',
 'ประจวบคีรขันธ์',
 'ประจวบคีรขัันธ์',
 'ประจวบคีรีขัน',
 'ประจวบคีรีขันธื',
 'ประจวบคีรีขันธฺ',
 'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0',
 'ประจวบคีรีขันธ์์',
 'ประจวบคีรีขัันธ์',
 'ประจวบคีีรีขันธ์',
 'ประจวบฯ',
 'ประทุมธานี',
 'ประเทศกัมพูชา',
 'ปราจีนบุรี',
 'ปราจีบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปอยเปต',
 'ปัตตนรี',
 'ปัตตานนี',
 'ปัตตานี',
 'ปัตตานีี',
 'ปัว',
 'ปััตตานี',
 'ปุทมธานี',
 'ป่าโมก',
 'พม่า',
 'พรหมพิราม',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุทยา',
 'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา\xa0',
 'พะเยา',
 'พังงา',
 'พัทยา',
 'พัทลุง',
 'พัทลุุง',
 'พัังงา',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณุโลก\xa0',
 'พิษณูโลก',
 'ฟินแลนด์',
 'ภาษีเจริญ',
 'ภุเก็ต',
 'ภูุเก็ต',
 'ภููเก็ต',
 'ภูเก็ต',
 'ภูเก็็ต',
 'ภูเพียง',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'มุกาดหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ร.จ.จ.นราธิวาส',
 'รอ',
 'ระนอง',
 'ระบุ',
 'ระยอง',
 'ระยอง\xa0',
 'ระอยง',
 'ราชบบุรี',
 'ราชบุรี',
 'ราชบุรีี',
 'ราชบุรี\u200b',
 'ราชุรี',
 'ราชเทวี',
 'ร้องกวาง',
 'ร้อยเอ็ด',
 'ลบุรี',
 'ลพบุรี',
 'ลพบุรี.',
 'ลพบุรี\xa0',
 'ลอง',
 'ลาดกระบัง',
 'ลาดพร้าว',
 'ลาว',
 'ลำปาง',
 'ลำพูน',
 'ลำพูน\u200b',
 'ลำพููน',
 'ลำลูกกา',
 'วังชิ้น',
 'วังทอง',
 'วิเศษชัยชาญ',
 'ศรีษะสะเกษ',
 'ศรีษะเกษ',
 'ศรีสระเกษ',
 'ศรีสะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สครสวรรค์',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สพรรณบุรี',
 'สมถทรปราการ',
 'สมทรสงคราม',
 'สมทรสาคร',
 'สมุครปราการ',
 'สมุครสาคร',
 'สมุท',
 'สมุทปราการ',
 'สมุทรปรากร',
 'สมุทรปรากรร',
 'สมุทรปรากา',
 'สมุทรปราการ',
 'สมุทรปราการ\xa0',
 'สมุทรศาคร',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทรสาคร\xa0',
 'สมุทรสาคา',
 'สมุทรสาคาร',
 'สมุทรสาทร',
 'สมุทรสารคร',
 'สมุทราปราการ',
 'สมุทราสาคร',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุย',
 'สมุุทรปราการ',
 'สมุุทรสงคราม',
 'สมุุทรสาคร',
 'สระก้ว',
 'สระบุรี',
 'สระบุรี\xa0',
 'สระแก้ว',
 'สรินทร์',
 'สวิสเซอร์แลนด์',
 'สอง',
 'สองแคว',
 'สะพานสูง',
 'สะแก้ว',
 'สัตหีบ',
 'สัมผัสผู้ป่วยยืนยัน COVID20',
 'สามุทรสาคร',
 'สารคาม',
 'สารภี',
 'สิงห์บุรี',
 'สิงห์บุรี\xa0',
 'สุทรปราการ',
 'สุพรรญบุรี',
 'สุพรรณบุรั',
 'สุพรรณบุรี',
 'สุพรรณบุรี\xa0',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุระบุรี',
 'สุราษ',
 'สุราษฎณ์ธานี',
 'สุราษฎธานี',
 'สุราษฎร์',
 'สุราษฎร์ธานี',
 'สุราษฎร์ฯ',
 'สุราษฎร์์ธานี',
 'สุราษฎ์ธานี',
 'สุราษฏร์ธานี',
 'สุราษธานี',
 'สุราษร์ฎธานี',
 'สุราษร์ธานี',
 'สุราษฯ',
 'สุรินทรื',
 'สุรินทร์',
 'สุรินทร์ 32150',
 'สุรินทร์,รีสะเกษ',
 'สุรินทร์\xa0',
 'สุริมทร์',
 'สุริะแก้ว',
 'สุวรรณภูมิ',
 'สุุพรรณบุรี',
 'สุุราษฎร์ธานี',
 'สุุราษฏร์ธานี',
 'สุุราษฯ',
 'สุุรินทร์',
 'สุุุโขทัย',
 'สุโขทับ',
 'สุโขทัย',
 'สุโขทัย\xa0',
 'สูงเม่น',
 'หนวงบัวลำภู',
 'หนองคาย',
 'หนองงคาย',
 'หนองบัวภู',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'หนองบัวลําภู',
 'หนองบััวลำภู',
 'หนองม่วงไข่',
 'หนอบัวลำภู',
 'หลายจังหวัด',
 'หัวหิน',
 'ห้วยขวาง',
 'อยุทธยา',
 'อยุธยา',
 'อยุุธยา',
 'อำนาจเจริญ',
 'อำนาจเจิญ',
 'อำนาญเจริญ',
 'อำนาเจริญ',
 'อิสราเอล',
 'อุดธานี',
 'อุดร',
 'อุดรธาณี',
 'อุดรธานี',
 'อุดรธานี\xa0',
 'อุดรธานีี',
 'อุดรราชธานี',
 'อุตรดิตถ์',
 'อุตรดิตถ์\xa0',
 'อุตรดิตถ์์',
 'อุตรดิษถ์',
 'อุตรดิิตถ์',
 'อุตรติดถ์',
 'อุทัยธานี',
 'อุทัยานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุบลราชธานี\xa0',
 'อุุครดิตถ์',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อุุบลราชธานี',
 'อ่งทอง',
 'อ่างทอง',
 'อ่างทอง\xa0',
 'อํานาจเจริญ',
 'เชิงเทรา',
 'เชียงราย',
 'เชียงใหม่',
 'เชียรใหญ่',
 'เชีียงราย',
 'เชีียงใหม่',
 'เด่นชัย',
 'เพขรบุรี',
 'เพขรบูรณื',
 'เพขรบูรณ์',
 'เพชรบุรณ์',
 'เพชรบุรี',
 'เพชรบุรึ',
 'เพชรบุุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เพชรบูรณ์\xa0',
 'เพชรบูร์',
 'เพชรบููรณ์',
 'เมือง',
 'เมืองตาก',
 'เมืองน่าน',
 'เมืองปัตตานี',
 'เรือ',
 'เลย',
 'เลย\xa0',
 'เวียงจันทร์',
 'เวียงสา',
 'แพร่',
 'แม่ทะ',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'โพธิ์ทอง',
 'ไชโย',
 'ไม่มีชื่อหอพัก',
 'ไม่ระบุ'}

In [41]:
data_covidall['province_of_onset'].replace({'\tประจวบคีรีขันธ์':'ประจวบคีรีขันธ์',
                                        'USA':'ไม่ระบุ',
                                        '\xa0กาญจนบุรี':'กาญจนบุรี',
                                        '\xa0ชลบุรี':'ชลบุรี',
                                        '\xa0ตราด':'ตราด',
                                        '\xa0นครปฐม':'นครปฐม',
                                        '\xa0สมุทรสงคราม':'สมุทรสงคราม',
                                        '\xa0สมุทรสาคร':'สมุทรสาคร',
                                        '\xa0อุทัยธานี':'อุทัยธานี',
                                        'กทม':'กรุงเทพมหานคร',
                                        'กทม.':'กรุงเทพมหานคร',
                                        'กบินทร์บุรี':'ปราจีนบุรี',
                                        'กระบี่':'กระบี่',
                                        'กระบี่ี่':'กระบี่',
                                        'กรุงเทพ':'กรุงเทพมหานคร',
                                        'กรุงเทพมหานคร':'กรุงเทพมหานคร',
                                        'กรุงเทพมหานคร.':'กรุงเทพมหานคร',
                                        'กรุงเทพมหานคร. / พระนครศรีอยุธยา':'กรุงเทพมหานคร',
                                        'กรุงเทพมหานคร. / ศรีสะเกษ':'กรุงเทพมหานคร',
                                        'กรุงเทพฯ':'กรุงเทพมหานคร',
                                        'กะทู้':'ภูเก็ต',
                                        'กัมพูชา':'ไม่ระบุ',
                                        'กาญจนบุรี':'กาญจนบุรี',
                                        'กาญจบุรี':'กาญจนบุรี',
                                        'กาญนบุรี':'กาญจนบุรี',
                                        'กาฬสิน':'กาฬสินธุ์',
                                        'กาฬสินธิ์':'กาฬสินธุ์',
                                        'กาฬสินธุ์':'กาฬสินธุ์',
                                        'กาฬสินธุ์\xa0':'กาฬสินธุ์',
                                        'กาฬสินธ์':'กาฬสินธุ์',
                                        'กำเพงเพชร':'กำแพงเพชร',
                                        'กำแพง':'กำแพงเพชร',
                                        'กำแพงเพชร':'กำแพงเพชร',
                                        'กำแพงเพชร\xa0':'กำแพงเพชร',
                                        'กําแพงเพชร':'กำแพงเพชร',
                                        'ขอนแก่น':'ขอนแก่น',
                                        'ขอนแก่น\xa0':'ขอนแก่น',
                                        'ขอนแก่่น':'ขอนแก่น',
                                        'ขัยนาท':'ชัยนาท',
                                        'ขัยภูมิ':'ชัยภูมิ',
                                        'ขานุวรลักษณ์บุรี':'กำแพงเพชร',
                                        'คนไทยเดินทางกลับจากต่างประเทศ':'ไม่ระบุ',
                                        'คลองเตย':'กรุงเทพมหานคร',
                                        'จ.กรุงเทพมหานคร':'กรุงเทพมหานคร',
                                        'จ.ภูเก็ต':'ภูเก็ต',
                                        'จ.ราชบุรี':'ราชบุรี',
                                        'จ.สุราษฎร์ธานี':'สุราษฎร์ธานี',
                                        'จังหวัดสมุทรสาคร':'สมุทรสาคร',
                                        'จันทบุรี':'จันทบุรี',
                                        'ฉะเชองเทราร':'ฉะเชิงเทรา',
                                        'ฉะเชิงเทรา':'ฉะเชิงเทรา',
                                        'ชมพร':'ชุมพร',
                                        'ชลบุรี':'ชลบุรี',
                                        'ชลบุรี\t':'ชลบุรี',
                                        'ชลบุรี\xa0':'ชลบุรี',
                                        'ชลบุุรี':'ชลบุรี',
                                        'ชอนแก่น':'ขอนแก่น',
                                        'ชัยนาถ':'ชัยนาท',
                                        'ชัยนาท':'ชัยนาท',
                                        'ชัยบาดาล':'ลพบุรี',
                                        'ชัยภูมิ':'ชัยภูมิ',
                                        'ชัยภูมิ\xa0':'ชัยภูมิ',
                                        'ชุมพร':'ชุมพร',
                                        'ชุุมพร':'ชุมพร',
                                        'ชุุุมพร':'ชุมพร',
                                        'ดอนมดแดง':'อุบลราชธานี',
                                        'ดินแดง':'กรุงเทพมหานคร',
                                        'ตรัง':'ตรัง',
                                        'ตรััง':'ตรัง',
                                        'ตราด':'ตราด',
                                        'ตราด\xa0':'ตราด',
                                        'ตาก':'ตาก',
                                        'ตากใบ':'นราธิวาส',
                                        'ต่างจังหวัด':'ไม่ระบุ',
                                        'ทุ่งเสลี่ยม':'สุโขทัย',
                                        'ท้ายบ้าน':'สมุทรปราการ',
                                        'ธารโต':'ยะลา',
                                        'นคนปฐม':'นครปฐม',
                                        'นคปฐม':'นครปฐม',
                                        'นครนปฐม':'นครปฐม',
                                        'นครนาชสีมา':'นครราชสีมา',
                                        'นครนายก':'นครนายก',
                                        'นครปฐม':'นครปฐม',
                                        'นครปฐม\xa0':'นครปฐม',
                                        'นครปบม':'นครปฐม',
                                        'นครพนม':'นครพนม',
                                        'นครพนม\xa0':'นครพนม',
                                        'นครยายก':'นครนายก',
                                        'นครราขสีมา':'นครราชสีมา',
                                        'นครราชธานี':'นครราชสีมา',
                                        'นครราชศรีมา':'นครราชสีมา',
                                        'นครราชสสีมา':'นครราชสีมา',
                                        'นครราชสีมา':'นครราชสีมา',
                                        'นครราชสีมา ลพบุรี':'ลพบุรี',
                                        'นครราชสีมา\xa0':'นครราชสีมา',
                                        'นครศรธรรมราช':'นครศรีธรรมราช',
                                        'นครศรี':'นครศรีธรรมราช',
                                        'นครศรีธรมมราช':'นครศรีธรรมราช',
                                        'นครศรีธรมราช':'นครศรีธรรมราช',
                                        'นครศรีธรรมราข':'นครศรีธรรมราช',
                                        'นครศรีธรรมราช':'นครศรีธรรมราช',
                                        'นครศรีฯ':'นครศรีธรรมราช',
                                        'นครศรีีธรรมราช':'นครศรีธรรมราช',
                                        'นครศร๊ธรรมราช':'นครศรีธรรมราช',
                                        'นครศร๊ะรรมราช':'นครศรีธรรมราช',
                                        'นครสรรค์':'นครสวรรค์',
                                        'นครสรีธรรมราช':'นครศรีธรรมราช',
                                        'นครสวรรค':'นครสวรรค์',
                                        'นครสวรรค์':'นครสวรรค์',
                                        'นครสวรรค์\xa0':'นครสวรรค์',
                                        'นครสีธรรมราช':'นครศรีธรรมราช',
                                        'นครฯ':'นครศรีธรรมราช',
                                        'นคราชสีมา':'นครราชสีมา',
                                        'นครีศรีธรรมราช':'นครศรีธรรมราช',
                                        'นตรนายก':'นครนายก',
                                        'นตรปฐม':'นครปฐม',
                                        'นนทบุรี':'นนทบุรี',
                                        'นนทบุรี\xa0':'นนทบุรี',
                                        'นนทบุุรี':'นนทบุรี',
                                        'นนทุบรี':'นนทบุรี',
                                        'นนทุรี':'นนทบุรี',
                                        'นนมบุรี':'นนทบุรี',
                                        'นรศรีธรรมราช':'นครศรีธรรมราช',
                                        'นราธิวาส':'นราธิวาส',
                                        'นราธิวาส\u200b':'นราธิวาส',
                                        'นราธฺวาส':'นราธิวาส',
                                        'นอกเขต':'ไม่ระบุ',
                                        'นาราธิวาส':'นราธิวาส',
                                        'นาวัง':'หนองบัวลำภู',
                                        'น่าน':'น่าน',
                                        'น่าน/ฉะเชิงเทรา':'น่าน',
                                        'บางกรวย':'นนทบุรี',
                                        'บางกะปิ':'กรุงเทพมหานคร',
                                        'บางนา':'กรุงเทพมหานคร',
                                        'บางปะอิน':'พระนครศรีอยุธยา',
                                        'บางละมุง':'ชลบุรี',
                                        'บางศรีเมือง':'นนทบุรี',
                                        'บางเพียง':'สมุทรปราการ',
                                        'บึงกาฬ':'บึงกาฬ',
                                        'บึงโขงหลง':'บึงกาฬ',
                                        'บุรีรัมภ์':'บุรีรัมย์',
                                        'บุรีรัมย์':'บุรีรัมย์',
                                        'บุรีรัมย์\xa0':'บุรีรัมย์',
                                        'บุรีรัยม์':'บุรีรัมย์',
                                        'บุรีรีมย์':'บุรีรัมย์',
                                        'บ้านหลวง':'น่าน',
                                        'ปจ':'ประจวบคีรีขันธ์',
                                        'ปทึมธานี':'ปทุมธานี',
                                        'ปทุทธานี':'ปทุมธานี',
                                        'ปทุมฑานี':'ปทุมธานี',
                                        'ปทุมทานี':'ปทุมธานี',
                                        'ปทุมธาน':'ปทุมธานี',
                                        'ปทุมธานี':'ปทุมธานี',
                                        'ปทุมธานี.':'ปทุมธานี',
                                        'ปทุมธานี\xa0':'ปทุมธานี',
                                        'ปทุมธานีี':'ปทุมธานี',
                                        'ปทุมาธานี':'ปทุมธานี',
                                        'ปทุุมธานี':'ปทุมธานี',
                                        'ปธุมธานี':'ปทุมธานี',
                                        'ปมุมธานี':'ปทุมธานี',
                                        'ประจวนคีรีขันธ็':'ประจวบคีรีขันธ์',
                                        'ประจวบ':'ประจวบคีรีขันธ์',
                                        'ประจวบคิรีขันธ์':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรขันธ์':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรขัันธ์':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขัน':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขันธื':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขันธฺ':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขันธ์':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขันธ์\xa0':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขันธ์์':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขัันธ์':'ประจวบคีรีขันธ์',
                                        'ประจวบคีีรีขันธ์':'ประจวบคีรีขันธ์',
                                        'ประจวบฯ':'ประจวบคีรีขันธ์',
                                        'ประทุมธานี':'ปทุมธานี',
                                        'ประเทศกัมพูชา':'ไม่ระบุ',
                                        'ปราจีนบุรี':'ปราจีนบุรี',
                                        'ปราจีบุรี':'ปราจีนบุรี',
                                        'ปลวกแดง':'ระยอง',
                                        'ปลายพระยา':'กระบี่',
                                        'ปอยเปต':'ไม่ระบุ',
                                        'ปัตตนรี':'ปัตตานี',
                                        'ปัตตานนี':'ปัตตานี',
                                        'ปัตตานี':'ปัตตานี',
                                        'ปัตตานีี':'ปัตตานี',
                                        'ปัตาตานี':'ปัตตานี',
                                        'ปัว':'น่าน',
                                        'ปััตตานี':'ปัตตานี',
                                        'ปุทมธานี':'ปทุมธานี',
                                        'ป่าโมก':'อ่างทอง',
                                        'พม่า':'ไม่ระบุ',
                                        'พรหมพิราม':'พิษณุโลก',
                                         'พระนครศรียุธยา':'พระนครศรีอยุธยา',
                                        'พระนครศรีอยุทธยา':'พระนครศรีอยุธยา',
                                        'พระนครศรีอยุทยา':'พระนครศรีอยุธยา',
                                        'พระนครศรีอยุธยา':'พระนครศรีอยุธยา',
                                        'พระนครศรีอยุธยา\xa0':'พระนครศรีอยุธยา',
                                        'พะเยา':'พะเยา',
                                        'พังงา':'พังงา',
                                        'พัทยา':'ชลบุรี',
                                        'พัทลุง':'พัทลุง',
                                        'พัทลุุง':'พัทลุง',
                                        'พัังงา':'พังงา',
                                        'พิจิตร':'พิจิตร',
                                        'พิษณุโลก':'พิษณุโลก',
                                        'พิษณุโลก\xa0':'พิษณุโลก',
                                        'พิษณูโลก':'พิษณุโลก',
                                        'ฟินแลนด์':'ไม่ระบุ',
                                        'ภาษีเจริญ':'กรุงเทพมหานคร',
                                        'ภุเก็ต':'ภูเก็ต',
                                        'ภูุเก็ต':'ภูเก็ต',
                                        'ภููเก็ต':'ภูเก็ต',
                                        'ภูเก็ต':'ภูเก็ต',
                                        'ภูเก็็ต':'ภูเก็ต',
                                        'ภูเพียง':'น่าน',
                                        'มหาสาคาม':'มหาสารคาม',
                                        'มหาสารคาม':'มหาสารคาม',
                                        'มาเลเซีย':'ไม่ระบุ',
                                        'มุกดาหาร':'มุกดาหาร',
                                        'มุกาดหาร':'มุกดาหาร',
                                        'ยะลา':'ยะลา',
                                        'ยานนาวา':'กรุงเทพมหานคร',
                                        'ยโสธร':'ยโสธร',
                                        'ร.จ.จ.นราธิวาส':'นราธิวาส',
                                        'รอ':'ไม่ระบุ',
                                        'ระนอง':'ระนอง',
                                        'ระบุ':'ไม่ระบุ',
                                         'ระยอง':'ระยอง',
                                        'ระยอง\xa0':'ระยอง',
                                        'ระอยง':'ระยอง',
                                        'ราชบบุรี':'ราชบุรี',
                                        'ราชบุรี':'ราชบุรี',
                                        'ราชบุรีี':'ราชบุรี',
                                        'ราชบุรี\u200b':'ราชบุรี',
                                        'ราชุรี':'ราชบุรี',
                                        'ราชเทวี':'กรุงเทพมหานคร',
                                        'ร้องกวาง':'แพร่',
                                        'ร้อยเอ็ด':'ร้อยเอ็ด',
                                        'ลบุรี':'ลพบุรี',
                                        'ลพบุรี':'ลพบุรี',
                                        'ลพบุรี.':'ลพบุรี',
                                        'ลพบุรี\xa0':'ลพบุรี',
                                        'ลอง':'แพร่',
                                        'ลาดกระบัง':'กรุงเทพมหานคร',
                                        'ลาดพร้าว':'กรุงเทพมหานคร',
                                        'ลาว':'ไม่ระบุ',
                                        'ลำปาง':'ลำปาง',
                                        'ลำพูน':'ลำพูน',
                                        'ลำพูน\u200b':'ลำพูน',
                                        'ลำพููน':'ลำพูน',
                                        'ลำลูกกา':'ปทุมธานี',
                                        'วังชิ้น':'แพร่',
                                        'วังทอง':'พิษณุโลก',
                                        'วิเศษชัยชาญ':'อ่างทอง',
                                        'ศรีษะสะเกษ':'ศรีสะเกษ',
                                        'ศรีษะเกษ':'ศรีสะเกษ',
                                        'ศรีสระเกษ':'ศรีสะเกษ',
                                        'ศรีสะเกษ':'ศรีสะเกษ',
                                        'ศีรสะเกษ':'ศรีสะเกษ',
                                        'สกลนคร':'สกลนคร',
                                        'สครสวรรค์':'นครสวรรค์',
                                        'สงขลา':'สงขลา',
                                        'สงขลา\u200b':'สงขลา',
                                         'สตูล':'สตูล',
                                        'สถานที่ทำงาน':'ไม่ระบุ',
                                        'สพรรณบุรี':'สุพรรณบุรี',
                                        'สมถทรปราการ':'สมุทรปราการ',
                                        'สมทรสงคราม':'สมุทรสงคราม',
                                        'สมทรสาคร':'สมุทรสาคร',
                                        'สมุครปราการ':'สมุทรปราการ',
                                        'สมุครสาคร':'สมุทรสาคร',
                                        'สมุท':'สมุทรปราการ',
                                        'สมุทปราการ':'สมุทรปราการ',
                                        'สมุทรปรากร':'สมุทรปราการ',
                                        'สมุทรปรากรร':'สมุทรปราการ',
                                        'สมุทรปรากา':'สมุทรปราการ',
                                        'สมุทรปราการ':'สมุทรปราการ',
                                        'สมุทรปราการ\xa0':'สมุทรปราการ',
                                        'สมุทรศาคร':'สมุทรสาคร',
                                        'สมุทรสงคราม':'สมุทรสงคราม',
                                        'สมุทรสาคร':'สมุทรสาคร',
                                        'สมุทรสาคร\xa0':'สมุทรสาคร',
                                        'สมุทรสาคา':'สมุทรสาคร',
                                        'สมุทรสาคาร':'สมุทรสาคร',
                                        'สมุทรสาทร':'สมุทรสาคร',
                                        'สมุทรสารคร':'สมุทรสาคร',
                                        'สมุทราปราการ':'สมุทรปราการ',
                                        'สมุทราสาคร':'สมุทรสาคร',
                                        'สมุทสงคราม':'สมุทรสงคราม',
                                        'สมุทสาคร':'สมุทรสาคร',
                                        'สมุย' : 'สุราษฎร์ธานี' ,
                                        'สมุุทรปราการ' : 'สมุทรปราการ' ,
                                        'สมุุทรสงคราม' : 'สมุทรสงคราม' ,
                                        'สมุุทรสาคร' : 'สมุทรสาคร' ,
                                        'สระก้ว' : 'สระแก้ว' ,
                                        'สระบุรี' : 'สระบุรี' ,
                                        'สระบุรี\xa0' : 'สระบุรี' ,
                                         'สระแก้ว' : 'สระแก้ว' ,
                                        'สรินทร์' : 'สุรินทร์' ,
                                        'สวิสเซอร์แลนด์' : 'ไม่ระบุ' ,
                                        'สอง' : 'แพร่' ,
                                        'สองแคว' : 'พิษณุโลก' ,
                                        'สะพานสูง' : 'กรุงเทพมหานคร' ,
                                        'สะแก้ว' : 'สระแก้ว' ,
                                        'สัตหีบ' : 'ชลบุรี' ,
                                        'สัมผัสผู้ป่วยยืนยัน COVID20' : 'ไม่ระบุ' ,
                                        'สามุทรสาคร' : 'สมุทรสาคร' ,
                                        'สารคาม' : 'มหาสารคาม' ,
                                        'สารภี' : 'เชียงใหม่' ,
                                        'สิงห์บุรี' : 'สิงห์บุรี' ,
                                        'สิงห์บุรี\xa0' : 'สิงห์บุรี' ,
                                        'สุทรปราการ' : 'สมุทรปราการ' ,
                                        'สุพรรญบุรี' : 'สุพรรณบุรี' ,
                                        'สุพรรณบุรั' : 'สุพรรณบุรี' ,
                                        'สุพรรณบุรี' : 'สุพรรณบุรี' ,
                                        'สุพรรณบุรี\xa0' : 'สุพรรณบุรี' ,
                                        'สุมทรปราการ' : 'สมุทรปราการ' ,
                                        'สุมทรสาคร' : 'สมุทรสาคร' ,
                                        'สุมุทรปราการ' : 'สมุทรปราการ' ,
                                        'สุมุทรสาคร' : 'สมุทรสาคร' ,
                                        'สุระบุรี' : 'สระบุรี' ,
                                        'สุราษ' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎณ์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎร์' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎร์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎร์ฯ' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎร์์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎ์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษฏร์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษร์ฎธานี' : 'สุราษฎร์ธานี' ,
                                         'สุราษร์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษฯ' : 'สุราษฎร์ธานี' ,
                                        'สุรินทรื' : 'สุรินทร์' ,
                                        'สุรินทร์' : 'สุรินทร์' ,
                                        'สุรินทร์ 32150' : 'สุรินทร์' ,
                                        'สุรินทร์,รีสะเกษ' : 'สุรินทร์' ,
                                        'สุรินทร์\xa0' : 'สุรินทร์' ,
                                        'สุริมทร์' : 'สุรินทร์' ,
                                        'สุริะแก้ว' : 'สระแก้ว' ,
                                        'สุวรรณภูมิ' : 'สมุทรปราการ' ,
                                        'สุุพรรณบุรี' : 'สุพรรณบุรี' ,
                                        'สุุราษฎร์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุุราษฏร์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุุราษฯ' : 'สุราษฎร์ธานี' ,
                                        'สุุรินทร์' : 'สุรินทร์' ,
                                        'สุุุโขทัย' : 'สุโขทัย' ,
                                        'สุโขทับ' : 'สุโขทัย' ,
                                        'สุโขทัย' : 'สุโขทัย' ,
                                        'สุโขทัย\xa0' : 'สุโขทัย' ,
                                        'สูงเม่น' : 'แพร่' ,
                                        'หนวงบัวลำภู' : 'หนองบัวลำภู' ,
                                        'หนองคาย' : 'หนองคาย' ,
                                        'หนองงคาย' : 'หนองคาย' ,
                                        'หนองบัวภู' : 'หนองบัวลำภู' ,
                                        'หนองบัวลำพูน' : 'หนองบัวลำภู' ,
                                        'หนองบัวลำภู' : 'หนองบัวลำภู' ,
                                        'หนองบัวลําภู' : 'หนองบัวลำภู' ,
                                        'หนองบััวลำภู' : 'หนองบัวลำภู' ,
                                        'หนองม่วงไข่' : 'แพร่' ,
                                        'หนอบัวลำภู' : 'หนองบัวลำภู' ,
                                        'หลายจังหวัด' : 'ไม่ระบุ' ,
                                        'หัวหิน' : 'ประจวบคีรีขันธ์' ,
                                        'ห้วยขวาง' : 'กรุงเทพมหานคร' ,
                                        'อยุทธยา' : 'พระนครศรีอยุธยา' ,
                                        'อยุธยา' : 'พระนครศรีอยุธยา' ,
                                        'อยุุธยา' : 'พระนครศรีอยุธยา' ,
                                         'อำนาจเจริญ' : 'อำนาจเจริญ' ,
                                        'อำนาจเจิญ' : 'อำนาจเจริญ' ,
                                        'อำนาญเจริญ' : 'อำนาจเจริญ' ,
                                        'อำนาเจริญ' : 'อำนาจเจริญ' ,
                                        'อิสราเอล' : 'ไม่ระบุ' ,
                                        'อุดธานี' : 'อุดรธานี' ,
                                        'อุดร' : 'อุดรธานี' ,
                                        'อุดรธาณี' : 'อุดรธานี' ,
                                        'อุดรธานี' : 'อุดรธานี' ,
                                        'อุดรธานี\xa0' : 'อุดรธานี' ,
                                        'อุดรธานีี' : 'อุดรธานี' ,
                                        'อุดรราชธานี' : 'อุดรธานี' ,
                                        'อุตรดิตถ์' : 'อุตรดิตถ์' ,
                                        'อุตรดิตถ์\xa0' : 'อุตรดิตถ์' ,
                                        'อุตรดิตถ์์' : 'อุตรดิตถ์' ,
                                        'อุตรดิษถ์' : 'อุตรดิตถ์' ,
                                        'อุตรดิิตถ์' : 'อุตรดิตถ์' ,
                                        'อุตรติดถ์' : 'อุตรดิตถ์' ,
                                        'อุทัยธานี' : 'อุทัยธานี' ,
                                        'อุทัยานี' : 'อุทัยธานี' ,
                                        'อุบลราขธานี' : 'อุบลราชธานี' ,
                                        'อุบลราชธานี' : 'อุบลราชธานี' ,
                                        'อุบลราชธานี\xa0' : 'อุบลราชธานี' ,
                                        'อุุครดิตถ์' : 'อุตรดิตถ์' ,
                                        'อุุดรธาน' : 'อุดรธานี' ,
                                        'อุุดรธานี' : 'อุดรธานี' ,
                                        'อุุตรดิตถ์' : 'อุตรดิตถ์' ,
                                        'อุุทัยธานี' : 'อุทัยธานี' ,
                                        'อุุบลราชธานี' : 'อุบลราชธานี' ,
                                        'อ่งทอง' : 'อ่างทอง' ,
                                        'อ่างทอง' : 'อ่างทอง' ,
                                        'อ่างทอง\xa0' : 'อ่างทอง' ,
                                        'อํานาจเจริญ' : 'อำนาจเจริญ' ,
                                        'เชิงเทรา' : 'ฉะเชิงเทรา' ,
                                        'เชียงราย' : 'เชียงราย' ,
                                         'เชียงใหม่' : 'เชียงใหม่' , 
                                        'เชียรใหญ่' : 'เชียงใหม่' , 
                                        'เชีียงราย' : 'เชียงราย' ,
                                        'เชีียงใหม่' : 'เชียงใหม่' , 
                                        'เด่นชัย' : 'แพร่' ,
                                        'เพขรบุรี' : 'เพชรบุรี' ,
                                        'เพขรบูรณื' : 'เพชรบูรณ์' ,
                                        'เพขรบูรณ์' : 'เพชรบูรณ์' ,
                                        'เพชรบุรณ์' : 'เพชรบูรณ์' ,
                                        'เพชรบุรี' : 'เพชรบุรี' ,
                                        'เพชรบุรึ' : 'เพชรบุรี' ,
                                        'เพชรบุุรี' : 'เพชรบุรี' ,
                                        'เพชรบุูรณ์' : 'เพชรบูรณ์' ,
                                        'เพชรบูรณ์' : 'เพชรบูรณ์' ,
                                        'เพชรบูรณ์\xa0' : 'เพชรบูรณ์' ,
                                        'เพชรบูร์' : 'เพชรบูรณ์' ,
                                        'เพชรบููรณ์' : 'เพชรบูรณ์' ,
                                        'เมือง' : 'ไม่ระบุ' ,
                                        'เมืองตาก' : 'ตาก' ,
                                        'เมืองน่าน' : 'น่าน' ,
                                        'เมืองปัตตานี' : 'ปัตตานี' ,
                                        'เรือ' : 'ไม่ระบุ' ,
                                        'เลย' : 'เลย' ,
                                        'เลย\xa0' : 'เลย' ,
                                        'เวียงจันทร์' : 'ไม่ระบุ' ,
                                        'เวียงสา' : 'น่าน' ,
                                        'แพร่' : 'แพร่' ,
                                        'แม่ทะ' : 'ลำปาง' ,
                                        'แม่ฮ่องสอน' : 'แม่ฮ่องสอน' ,
                                        'แล้วป่วย' : 'ไม่ระบุ' ,
                                        'โพธิ์ทอง' : 'อ่างทอง' ,
                                        'ไชโย' : 'อ่างทอง' ,
                                        'ไม่มีชื่อหอพัก' : 'ไม่ระบุ'}, inplace=True)

In [42]:
len(set(data_covidall['province_of_onset']))

78

In [43]:
data_covidall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
1,2,17/1/2020,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
2,3,22/1/2020,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
4,5,24/1/2020,24/1/2020,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN

In [44]:
data_covidall = data_covidall.iloc[:,:-1]
data_covidall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
1,2,17/1/2020,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
2,3,22/1/2020,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
4,5,24/1/2020,24/1/2020,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ

###เชื่อมตาราง Province_all กับ data_covid_all

In [46]:
personalcovid_data = data_covidall.merge(province_all,how='left',left_on='province_of_onset',right_on='จังหวัด') 
personalcovid_data

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,1,12/1/2020,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
1,2,17/1/2020,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2,3,22/1/2020,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,นครปฐม,กลาง,กลาง,กลาง,กลาง
3,4,22/1/2020,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
4,5,24/1/2020,24/1/2020,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3303164,3303165,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN
3303165,3303166,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN
3303166,3303167,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN
3303167,3303168,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN
3303168,3303169,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN,NaN

In [48]:
personalcovid_data.isnull().any()

No.                          False
announce_date                False
Notified date                False
sex                          False
age                           True
Unit                         False
nationality                  False
province_of_isolation        False
risk                         False
province_of_onset            False
district_of_onset            False
จังหวัด                       True
6 ภูมิภาค (ภูมิศาสตร์)        True
4 ภูมิภาคการเมือง             True
6 ภูมิภาค (อุตุนิยมวิทยา)     True
5 ภูมิภาค (การท่องเที่ยว)     True
dtype: bool

In [45]:
personalcovid_data = province_all.merge(data_covidall,how='left',left_on='จังหวัด',right_on='province_of_onset') 
personalcovid_data   ## เชื่อมตารางโดยใช้คำสั่ง .merge ตารางซ้ายใช้ province_all, ขวาใช้ data_covid_all เชื่อมด้วยคำว่า จังหวัด

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,973,26/3/2020,25/3/2020,ชาย,48.0,ปี,Thailand,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,เมือง
1,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,1864,2/4/2020,1/4/2020,หญิง,46.0,ปี,Thailand,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ปทุมราชวงศา
2,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,6493,30/12/2020,29/12/2020,หญิง,37.0,ปี,Thailand,อำนาจเจริญ,Cluster ระยอง,อำนาจเจริญ,หัวตะพาน
3,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,7390,3/1/2021,2/1/2021,หญิง,26.0,ปี,Laos,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,หัวตะพาน
4,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,31038,10/4/2021,9/4/2021,ชาย,38.0,ปี,Thailand,อำนาจเจริญ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,อำนาจเจริญ,เมือง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2904747,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,3271105,17/3/2022,16/3/2022,หญิง,5.0,ปี,Thailand,ตรัง,อื่นๆ,ตรัง,ย่านตาขาว
2904748,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,3272635,17/3/2022,16/3/2022,หญิง,37.0,ปี,ไม่ระบุ,กรุงเทพมหานคร,อื่นๆ,ตรัง,ย่านตาขาว
2904749,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,3293983,18/3/2022,17/3/2022,ชาย,54.0,ปี,Thailand,ยโสธร,อื่นๆ,ตรัง,ไม่ระบุ
2904750,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,3297287,18/3/2022,17/3/2022,หญิง,40.0,ปี,Thailand,ภูเก็ต,อื่นๆ,ตรัง,สิเกา
2904751,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,3300240,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,อื่นๆ,ตรัง,กันตัง