<a href="https://colab.research.google.com/github/nichakornchaisuwan/data_viz_2022/blob/main/Project_%E0%B8%81%E0%B8%A5%E0%B8%B8%E0%B9%88%E0%B8%A1%E0%B8%99%E0%B8%B5%E0%B9%89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##ข้อมูลการเเบ่งตามภูมิภาคของประเทศไทย

###สร้างตาราง

In [1]:
import pandas as pd #import ฟังก์ชั่นที่ต้องใช้ในการสร้างตาราง

In [2]:
#วิธีDictionary(column oriented) สร้างตัวเเปร data_province ขึ้นมา เเล้วกำหนดคอลัมน์ ได้เเก่ จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
data_province = {'จังหวัด':['อำนาจเจริญ', 'บึงกาฬ', 'บุรีรัมย์', 'ชัยภูมิ', 'กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม', 'มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู', 'หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ', 'สุรินทร์', 'อุบลราชธานี', 'อุดรธานี',
                       'ยโสธร','เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี',
                       'อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี', 'ปทุมธานี', 'สมุทรปราการ', 'สมุทรสาคร', 'สมุทรสงคราม', 'สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี',
                       'นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา',
                       'กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง','ไม่ระบุ'],
                    '6 ภูมิภาค (ภูมิศาสตร์)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง',
                        'ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ไม่ระบุ'],
                    '4 ภูมิภาคการเมือง':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง',
                        'กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ไม่ระบุ'],
                    '6 ภูมิภาค (อุตุนิยมวิทยา)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง',
                        'ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย',
                        'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย',
                        'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ไม่ระบุ'],
                    '5 ภูมิภาค (การท่องเที่ยว)':['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ',
                        'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','เหนือ', 'เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง',
                        'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ไม่ระบุ']
                    
             }

In [3]:
province_all = pd.DataFrame.from_dict(data_province) #สร้างตารางpandasจากdata_province
province_all #เเสดงข้อมูลในตารางทั้งหมด

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
77,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

#### เช็คความถูกต้องของกการจัดกลุ่ม

In [4]:
set(province_all['6 ภูมิภาค (ภูมิศาสตร์)'])

{'กลาง',
 'ตะวันตก',
 'ตะวันออก',
 'ตะวันออกเฉียงเหนือ',
 'เหนือ',
 'ใต้',
 'ไม่ระบุ'}

In [5]:
set(province_all['4 ภูมิภาคการเมือง'])

{'กลาง', 'ตะวันออกเฉียงเหนือ', 'เหนือ', 'ใต้', 'ไม่ระบุ'}

In [6]:
set(province_all['6 ภูมิภาค (อุตุนิยมวิทยา)'])

{'กลาง',
 'ตะวันออก',
 'ตะวันออกเฉียงเหนือ',
 'เหนือ',
 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน',
 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย',
 'ไม่ระบุ'}

In [7]:
set(province_all['5 ภูมิภาค (การท่องเที่ยว)'])

{'กลาง', 'ตะวันออก', 'ตะวันออกเฉียงเหนือ', 'เหนือ', 'ใต้', 'ไม่ระบุ'}

###ตรวจสอบค่า Missing

In [8]:
province_all.isnull().any() ## .isnull() ดูค่าว่าง ถ้าไม่มีจะแสดงเป็น false , .any() แสดงคอลลัมน์

จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาคการเมือง            False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

**จากการตรวจสอบค่า Missing ของข้อมูล สรุปได้ว่า ตาราง province_all ไม่มีค่า missing**

In [81]:
province_all.info() #เป็นการเช็ค type ของข้อมูล

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   จังหวัด                    78 non-null     object
 1   6 ภูมิภาค (ภูมิศาสตร์)     78 non-null     object
 2   4 ภูมิภาคการเมือง          78 non-null     object
 3   6 ภูมิภาค (อุตุนิยมวิทยา)  78 non-null     object
 4   5 ภูมิภาค (การท่องเที่ยว)  78 non-null     object
dtypes: object(5)
memory usage: 3.2+ KB

##ข้อมูลการยืนยันผู้ติดเชื้อโควิด - 19

ตั้งแต่วันที่ 12 มกราคม 2563 ถึง 18 มีนาคม 2565

### load data

In [10]:
import pandas as pd #import paddas เพื่อนำเอาไปใช้งาน

In [12]:
from google.colab import drive #เชื่อมต่อ colab เข้ากับไดร์ฟในข้อมูล
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
import os #จัดการหาไฟล์ที่อยู่ในไดร์ฟ

In [14]:
path = '/content/drive/My Drive/data_projectกลุ่มนี้' #ชี้ไฟล์ในไฟล์

In [15]:
data_con1 = os.path.join(path,'confirmed-cases.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_con1)
data_covid1 = pd.read_csv(data_con1)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid1
data_covidnew = data_covid1.iloc[:816989,:] # เนื่องจากมีการเก็บข้อมูลซ้ำกับไฟล์ถัดไป จัดทำการตัดข้อมูล เพื่อไม่ให้ซ้ำกัน แล้วตั้งชื่อตัวแปรที่เก็บว่า data_covidnew
data_covidnew

/content/drive/My Drive/data_projectกลุ่มนี้/confirmed-cases.csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,11/8/2021,10/8/2021,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,11/8/2021,10/8/2021,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,11/8/2021,10/8/2021,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,11/8/2021,10/8/2021,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,11/8/2021,10/8/2021,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

In [16]:
data_con2 = os.path.join(path,'confirmed-cases-since-120864.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_con2)
data_covid2 = pd.read_csv(data_con2)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid2
data_covid2

/content/drive/My Drive/data_projectกลุ่มนี้/confirmed-cases-since-120864.csv

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [17]:
data_con3 = os.path.join(path,'confirmed-cases-since-271064.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_con3)
data_covid3 = pd.read_csv(data_con3)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid3
data_covid3

/content/drive/My Drive/data_projectกลุ่มนี้/confirmed-cases-since-271064.csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [18]:
data_con4 = os.path.join(path,'confirmed-cases-since-280265.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_con4)
data_covid4 = pd.read_csv(data_con4)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid4
data_covid4

/content/drive/My Drive/data_projectกลุ่มนี้/confirmed-cases-since-280265.csv

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

###เชื่อมข้อมูลทั้ง 4 ไฟล์ ให้อยู่ในตัวแปรเดียว โดยใช้คำสั่ง concat

In [19]:
data_covidall = pd.concat([data_covidnew,data_covid2,data_covid3,data_covid4]) #ใช้คำสั่ง concat ในการเชื่อมตารางในแนวแกน Y
data_covidall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [20]:
data_covidall.shape #ดูขนาดของข้อมูลทั้งหมด

(3303169, 12)

###ตรวจสอบค่า Missing

In [20]:
data_covidall.isnull().any() #ตรวจสอบค่า Missing

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
Unnamed: 11               True
dtype: bool

**จากการตรวจสอบค่า Missing พบว่ายังมีคอลัมน์ที่แสดงค่าเป็น True อยู่หลายคมลัมน์ หมายความว่าข้อมูลยังมีค่าว่าง**

### แทนค่า Missing

#### แทนค่า Missing ของคอลัมน์ Notified data ด้วยค่าที่เหมาะสม

In [21]:
data_covidall=data_covidall.fillna(value ={ 'Notified date' : data_covidall['announce_date']})  ## แก้ค่า Missing ในคอลลัมน์ Notified date เติมค่าว่าง โดยใช้คำสั่ง .fillna() ซึ่งค่าที่นำมาใส่คือ ค่าจากคอลลัมน์ announce_date
data_covidall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,24/1/2020,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

####แทนค่า Missing ของคอลัมน์ *sex* ด้วยจำนวนเท่าๆกัน

In [22]:
data_covidall.info() # เช็ค type ของข้อมูล

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3303169 entries, 0 to 433552
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   No.                    int64
 1   announce_date          object
 2   Notified date          object
 3   sex                    object
 4   age                    object
 5   Unit                   object
 6   nationality            object
 7   province_of_isolation  object
 8   risk                   object
 9   province_of_onset      object
 10  district_of_onset      object
 11  Unnamed: 11            float64
dtypes: float64(1), int64(1), object(10)
memory usage: 327.6+ MB

In [22]:
data_covidall[data_covidall['sex'].isnull()]['No.'].count() # เช็คค่าว่างของคอลัมน์ sex โดยให้นับตามจำนวนคอลัมน์ No.

179060

In [23]:
data_covidall[['sex']] = data_covidall[['sex']].fillna('ชาย',limit=89530) #เติมค่าที่เป็นเพศชาย โดยกำหนด limit ที่ 89530

In [25]:
data_covidall[['sex']] = data_covidall[['sex']].fillna('หญิง') # เติมค่าที่เป็น เพศหญิง โดยไม่ได้กำหนดว่า limit ว่าเท่าไหร่ หมายความว่า เติมเพศหญิงลงในค่าว่างที่เหลือทั้งหมด

In [26]:
data_covidall[data_covidall['sex'].isnull()]['No.'].count() #เช็คค่าว่างอีกครั้ง

0

In [27]:
data_covidall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,24/1/2020,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [28]:
set(data_covidall['sex']) # ทำการจัดกลุ่มเพื่อดูค่าของคอลัมน์ sex พบว่ามีค่าที่เขียนผิด

{'\xa0หญิง',
 'ช',
 'ชาย',
 'ญ',
 'นาย',
 'ร.ต.ท.',
 'หญง',
 'หญิง',
 'หญิิง',
 'หณิง',
 'หห'}

In [29]:
data_covidall['sex'].replace({'\xa0หญิง':'หญิง', # ทำการแทนที่ค่าที่ผิด โดยการใช้คำสั่ง .replace()
                            'ญ': 'หญิง',
                            'หญง' : 'หญิง',
                            'หญิิง' :'หญิง',
                            'หณิง' : 'หญิง',
                            'หห' : 'หญิง',
                            'ช' : 'ชาย',
                            'นาย' :'ชาย',
                            'ร.ต.ท.' : 'ชาย'},inplace = True)

In [30]:
set(data_covidall['sex']) #เช็คการจัดกลุ่มค่าอีกครั้ง

{'ชาย', 'หญิง'}

#### แทนค่า Missing ของคอลัมน์ age ด้วยค่า

#### แทนค่า Missing ของคอลัมน์ *Unit* ด้วยค่า Mode (ฐานนิยม)

In [28]:
data_covidall['Unit'].mode()  ## หาค่าที่ซ้ำกันมากที่สุดโดยใช้ .mode

0    ปี
dtype: object

In [29]:
data_covidall=data_covidall.fillna(value ={ 'Unit' : 'ปี'})  ## แก้คอลลัมน์ Unit เติมค่าว่าง โดยใช้คำสั่ง .fillna() ซึ่งค่าที่นำมาใส่คือ ปี
data_covidall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,24/1/2020,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,ปี,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,ปี,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [30]:
set(data_covidall['Unit']) # ใช้ set ในการดูว่าในคอลัมน์ Unit มีการจัดกลุ่มอย่างไร

{' วัน', ' เดือน', 'ปี', 'วัน', 'เดือน'}

In [31]:
data_covidall['Unit'].replace({' วัน':'วัน',
                            ' เดือน' : 'เดือน'},inplace = True)

In [32]:
set(data_covidall['Unit'])

{'ปี', 'วัน', 'เดือน'}

#### แทนค่า Missing ของคอลัมน์ *nationality, province_of_isolation, province_of_onset, district_of_onset,risk* ด้วย class ใหม่

In [33]:
data_covidall=data_covidall.fillna(value ={ 'nationality' : 'ไม่ระบุ','province_of_isolation' : 'ไม่ระบุ','province_of_onset' : 'ไม่ระบุ','district_of_onset':'ไม่ระบุ','risk':'ไม่ระบุ'})  
data_covidall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
1,2,17/1/2020,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
2,3,22/1/2020,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
4,5,24/1/2020,24/1/2020,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN

In [34]:
set(data_covidall['province_of_isolation'])

{'กทม',
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภููเก็ต',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน',
 'ไม่ระบุ'}

In [35]:
data_covidall['province_of_isolation'].replace({'กทม':'กรุงเทพมหานคร', 
                                                    'ขอนแก่น\xa0':'ขอนแก่น',
                                                    'ภููเก็ต':'ภูเก็ต'},inplace = True)

In [39]:
len(set(data_covidall['province_of_isolation']))

78

In [40]:
set(data_covidall['province_of_onset'])

{'\tประจวบคีรีขันธ์',
 'USA',
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กทม.',
 'กบินทร์บุรี',
 'กระบี่',
 'กระบี่ี่',
 'กรุงเทพ',
 'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา',
 'กรุงเทพมหานคร. / ศรีสะเกษ',
 'กรุงเทพฯ',
 'กะทู้',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาญจบุรี',
 'กาญนบุรี',
 'กาฬสิน',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธุ์\xa0',
 'กาฬสินธ์',
 'กำเพงเพชร',
 'กำแพง',
 'กำแพงเพชร',
 'กำแพงเพชร\xa0',
 'กําแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'ขอนแก่่น',
 'ขัยนาท',
 'ขัยภูมิ',
 'ขานุวรลักษณ์บุรี',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คลองเตย',
 'จ.กรุงเทพมหานคร',
 'จ.ภูเก็ต',
 'จ.ราชบุรี',
 'จ.สุราษฎร์ธานี',
 'จังหวัดสมุทรสาคร',
 'จันทบุรี',
 'ฉะเชองเทราร',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุรี\xa0',
 'ชลบุุรี',
 'ชอนแก่น',
 'ชัยนาถ',
 'ชัยนาท',
 'ชัยบาดาล',
 'ชัยภูมิ',
 'ชัยภูมิ\xa0',
 'ชุมพร',
 'ชุุมพร',
 'ชุุุมพร',
 'ดอนมดแดง',
 'ดินแดง',
 'ตรัง',
 'ตรััง',
 'ตราด',
 'ตราด\xa0',
 'ตาก',
 'ตากใบ',
 'ต่างจังหวัด',
 'ทุ่งเสลี่ยม',
 'ท้ายบ้าน',
 'ธารโต',
 'นคนปฐม',
 'นคปฐม',
 'นครนปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปฐม\xa0',
 'นครปบม',
 'นครพนม',
 'นครพนม\xa0',
 'นครยายก',
 'นครราขสีมา',
 'นครราชธานี',
 'นครราชศรีมา',
 'นครราชสสีมา',
 'นครราชสีมา',
 'นครราชสีมา ลพบุรี',
 'นครราชสีมา\xa0',
 'นครศรธรรมราช',
 'นครศรี',
 'นครศรีธรมมราช',
 'นครศรีธรมราช',
 'นครศรีธรรมราข',
 'นครศรีธรรมราช',
 'นครศรีฯ',
 'นครศรีีธรรมราช',
 'นครศร๊ธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสรรค์',
 'นครสรีธรรมราช',
 'นครสวรรค',
 'นครสวรรค์',
 'นครสวรรค์\xa0',
 'นครสีธรรมราช',
 'นครฯ',
 'นคราชสีมา',
 'นครีศรีธรรมราช',
 'นตรนายก',
 'นตรปฐม',
 'นนทบุรี',
 'นนทบุรี\xa0',
 'นนทบุุรี',
 'นนทุบรี',
 'นนทุรี',
 'นนมบุรี',
 'นรศรีธรรมราช',
 'นราธิวาส',
 'นราธิวาส\u200b',
 'นราธฺวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'น่าน/ฉะเชิงเทรา',
 'บางกรวย',
 'บางกะปิ',
 'บางนา',
 'บางปะอิน',
 'บางละมุง',
 'บางศรีเมือง',
 'บางเพียง',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมภ์',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรัยม์',
 'บุรีรีมย์',
 'บ้านหลวง',
 'ปจ',
 'ปทึมธานี',
 'ปทุทธานี',
 'ปทุมฑานี',
 'ปทุมทานี',
 'ปทุมธาน',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานี\xa0',
 'ปทุมธานีี',
 'ปทุมาธานี',
 'ปทุุมธานี',
 'ปธุมธานี',
 'ปมุมธานี',
 'ประจวนคีรีขันธ็',
 'ประจวบ',
 'ประจวบคิรีขันธ์',
 'ประจวบคีรขันธ์',
 'ประจวบคีรขัันธ์',
 'ประจวบคีรีขัน',
 'ประจวบคีรีขันธื',
 'ประจวบคีรีขันธฺ',
 'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0',
 'ประจวบคีรีขันธ์์',
 'ประจวบคีรีขัันธ์',
 'ประจวบคีีรีขันธ์',
 'ประจวบฯ',
 'ประทุมธานี',
 'ประเทศกัมพูชา',
 'ปราจีนบุรี',
 'ปราจีบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปอยเปต',
 'ปัตตนรี',
 'ปัตตานนี',
 'ปัตตานี',
 'ปัตตานีี',
 'ปัว',
 'ปััตตานี',
 'ปุทมธานี',
 'ป่าโมก',
 'พม่า',
 'พรหมพิราม',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุทยา',
 'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา\xa0',
 'พะเยา',
 'พังงา',
 'พัทยา',
 'พัทลุง',
 'พัทลุุง',
 'พัังงา',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณุโลก\xa0',
 'พิษณูโลก',
 'ฟินแลนด์',
 'ภาษีเจริญ',
 'ภุเก็ต',
 'ภูุเก็ต',
 'ภููเก็ต',
 'ภูเก็ต',
 'ภูเก็็ต',
 'ภูเพียง',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'มุกาดหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ร.จ.จ.นราธิวาส',
 'รอ',
 'ระนอง',
 'ระบุ',
 'ระยอง',
 'ระยอง\xa0',
 'ระอยง',
 'ราชบบุรี',
 'ราชบุรี',
 'ราชบุรีี',
 'ราชบุรี\u200b',
 'ราชุรี',
 'ราชเทวี',
 'ร้องกวาง',
 'ร้อยเอ็ด',
 'ลบุรี',
 'ลพบุรี',
 'ลพบุรี.',
 'ลพบุรี\xa0',
 'ลอง',
 'ลาดกระบัง',
 'ลาดพร้าว',
 'ลาว',
 'ลำปาง',
 'ลำพูน',
 'ลำพูน\u200b',
 'ลำพููน',
 'ลำลูกกา',
 'วังชิ้น',
 'วังทอง',
 'วิเศษชัยชาญ',
 'ศรีษะสะเกษ',
 'ศรีษะเกษ',
 'ศรีสระเกษ',
 'ศรีสะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สครสวรรค์',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สพรรณบุรี',
 'สมถทรปราการ',
 'สมทรสงคราม',
 'สมทรสาคร',
 'สมุครปราการ',
 'สมุครสาคร',
 'สมุท',
 'สมุทปราการ',
 'สมุทรปรากร',
 'สมุทรปรากรร',
 'สมุทรปรากา',
 'สมุทรปราการ',
 'สมุทรปราการ\xa0',
 'สมุทรศาคร',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทรสาคร\xa0',
 'สมุทรสาคา',
 'สมุทรสาคาร',
 'สมุทรสาทร',
 'สมุทรสารคร',
 'สมุทราปราการ',
 'สมุทราสาคร',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุย',
 'สมุุทรปราการ',
 'สมุุทรสงคราม',
 'สมุุทรสาคร',
 'สระก้ว',
 'สระบุรี',
 'สระบุรี\xa0',
 'สระแก้ว',
 'สรินทร์',
 'สวิสเซอร์แลนด์',
 'สอง',
 'สองแคว',
 'สะพานสูง',
 'สะแก้ว',
 'สัตหีบ',
 'สัมผัสผู้ป่วยยืนยัน COVID20',
 'สามุทรสาคร',
 'สารคาม',
 'สารภี',
 'สิงห์บุรี',
 'สิงห์บุรี\xa0',
 'สุทรปราการ',
 'สุพรรญบุรี',
 'สุพรรณบุรั',
 'สุพรรณบุรี',
 'สุพรรณบุรี\xa0',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุระบุรี',
 'สุราษ',
 'สุราษฎณ์ธานี',
 'สุราษฎธานี',
 'สุราษฎร์',
 'สุราษฎร์ธานี',
 'สุราษฎร์ฯ',
 'สุราษฎร์์ธานี',
 'สุราษฎ์ธานี',
 'สุราษฏร์ธานี',
 'สุราษธานี',
 'สุราษร์ฎธานี',
 'สุราษร์ธานี',
 'สุราษฯ',
 'สุรินทรื',
 'สุรินทร์',
 'สุรินทร์ 32150',
 'สุรินทร์,รีสะเกษ',
 'สุรินทร์\xa0',
 'สุริมทร์',
 'สุริะแก้ว',
 'สุวรรณภูมิ',
 'สุุพรรณบุรี',
 'สุุราษฎร์ธานี',
 'สุุราษฏร์ธานี',
 'สุุราษฯ',
 'สุุรินทร์',
 'สุุุโขทัย',
 'สุโขทับ',
 'สุโขทัย',
 'สุโขทัย\xa0',
 'สูงเม่น',
 'หนวงบัวลำภู',
 'หนองคาย',
 'หนองงคาย',
 'หนองบัวภู',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'หนองบัวลําภู',
 'หนองบััวลำภู',
 'หนองม่วงไข่',
 'หนอบัวลำภู',
 'หลายจังหวัด',
 'หัวหิน',
 'ห้วยขวาง',
 'อยุทธยา',
 'อยุธยา',
 'อยุุธยา',
 'อำนาจเจริญ',
 'อำนาจเจิญ',
 'อำนาญเจริญ',
 'อำนาเจริญ',
 'อิสราเอล',
 'อุดธานี',
 'อุดร',
 'อุดรธาณี',
 'อุดรธานี',
 'อุดรธานี\xa0',
 'อุดรธานีี',
 'อุดรราชธานี',
 'อุตรดิตถ์',
 'อุตรดิตถ์\xa0',
 'อุตรดิตถ์์',
 'อุตรดิษถ์',
 'อุตรดิิตถ์',
 'อุตรติดถ์',
 'อุทัยธานี',
 'อุทัยานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุบลราชธานี\xa0',
 'อุุครดิตถ์',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อุุบลราชธานี',
 'อ่งทอง',
 'อ่างทอง',
 'อ่างทอง\xa0',
 'อํานาจเจริญ',
 'เชิงเทรา',
 'เชียงราย',
 'เชียงใหม่',
 'เชียรใหญ่',
 'เชีียงราย',
 'เชีียงใหม่',
 'เด่นชัย',
 'เพขรบุรี',
 'เพขรบูรณื',
 'เพขรบูรณ์',
 'เพชรบุรณ์',
 'เพชรบุรี',
 'เพชรบุรึ',
 'เพชรบุุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เพชรบูรณ์\xa0',
 'เพชรบูร์',
 'เพชรบููรณ์',
 'เมือง',
 'เมืองตาก',
 'เมืองน่าน',
 'เมืองปัตตานี',
 'เรือ',
 'เลย',
 'เลย\xa0',
 'เวียงจันทร์',
 'เวียงสา',
 'แพร่',
 'แม่ทะ',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'โพธิ์ทอง',
 'ไชโย',
 'ไม่มีชื่อหอพัก',
 'ไม่ระบุ'}

In [41]:
data_covidall['province_of_onset'].replace({'\tประจวบคีรีขันธ์':'ประจวบคีรีขันธ์','USA':'ไม่ระบุ','\xa0กาญจนบุรี':'กาญจนบุรี',
                                        '\xa0ชลบุรี':'ชลบุรี','\xa0ตราด':'ตราด','\xa0นครปฐม':'นครปฐม','\xa0สมุทรสงคราม':'สมุทรสงคราม',
                                        '\xa0สมุทรสาคร':'สมุทรสาคร','\xa0อุทัยธานี':'อุทัยธานี','กทม':'กรุงเทพมหานคร','กทม.':'กรุงเทพมหานคร',
                                        'กบินทร์บุรี':'ปราจีนบุรี','กระบี่':'กระบี่', 'กระบี่ี่':'กระบี่','กรุงเทพ':'กรุงเทพมหานคร','กรุงเทพมหานคร':'กรุงเทพมหานคร',
                                        'กรุงเทพมหานคร.':'กรุงเทพมหานคร','กรุงเทพมหานคร. / พระนครศรีอยุธยา':'กรุงเทพมหานคร',
                                        'กรุงเทพมหานคร. / ศรีสะเกษ':'กรุงเทพมหานคร','กรุงเทพฯ':'กรุงเทพมหานคร','กะทู้':'ภูเก็ต',
                                        'กัมพูชา':'ไม่ระบุ', 'กาญจนบุรี':'กาญจนบุรี','กาญจบุรี':'กาญจนบุรี', 'กาญนบุรี':'กาญจนบุรี',
                                        'กาฬสิน':'กาฬสินธุ์',
                                        'กาฬสินธิ์':'กาฬสินธุ์',
                                        'กาฬสินธุ์':'กาฬสินธุ์',
                                        'กาฬสินธุ์\xa0':'กาฬสินธุ์',
                                        'กาฬสินธ์':'กาฬสินธุ์',
                                        'กำเพงเพชร':'กำแพงเพชร',
                                        'กำแพง':'กำแพงเพชร',
                                        'กำแพงเพชร':'กำแพงเพชร',
                                        'กำแพงเพชร\xa0':'กำแพงเพชร',
                                        'กําแพงเพชร':'กำแพงเพชร',
                                        'ขอนแก่น':'ขอนแก่น',
                                        'ขอนแก่น\xa0':'ขอนแก่น',
                                        'ขอนแก่่น':'ขอนแก่น',
                                        'ขัยนาท':'ชัยนาท',
                                        'ขัยภูมิ':'ชัยภูมิ',
                                        'ขานุวรลักษณ์บุรี':'กำแพงเพชร',
                                        'คนไทยเดินทางกลับจากต่างประเทศ':'ไม่ระบุ',
                                        'คลองเตย':'กรุงเทพมหานคร',
                                        'จ.กรุงเทพมหานคร':'กรุงเทพมหานคร',
                                        'จ.ภูเก็ต':'ภูเก็ต',
                                        'จ.ราชบุรี':'ราชบุรี',
                                        'จ.สุราษฎร์ธานี':'สุราษฎร์ธานี',
                                        'จังหวัดสมุทรสาคร':'สมุทรสาคร',
                                        'จันทบุรี':'จันทบุรี',
                                        'ฉะเชองเทราร':'ฉะเชิงเทรา',
                                        'ฉะเชิงเทรา':'ฉะเชิงเทรา',
                                        'ชมพร':'ชุมพร',
                                        'ชลบุรี':'ชลบุรี',
                                        'ชลบุรี\t':'ชลบุรี',
                                        'ชลบุรี\xa0':'ชลบุรี',
                                        'ชลบุุรี':'ชลบุรี',
                                        'ชอนแก่น':'ขอนแก่น',
                                        'ชัยนาถ':'ชัยนาท',
                                        'ชัยนาท':'ชัยนาท',
                                        'ชัยบาดาล':'ลพบุรี',
                                        'ชัยภูมิ':'ชัยภูมิ',
                                        'ชัยภูมิ\xa0':'ชัยภูมิ',
                                        'ชุมพร':'ชุมพร',
                                        'ชุุมพร':'ชุมพร',
                                        'ชุุุมพร':'ชุมพร',
                                        'ดอนมดแดง':'อุบลราชธานี',
                                        'ดินแดง':'กรุงเทพมหานคร',
                                        'ตรัง':'ตรัง',
                                        'ตรััง':'ตรัง',
                                        'ตราด':'ตราด',
                                        'ตราด\xa0':'ตราด',
                                        'ตาก':'ตาก',
                                        'ตากใบ':'นราธิวาส',
                                        'ต่างจังหวัด':'ไม่ระบุ',
                                        'ทุ่งเสลี่ยม':'สุโขทัย',
                                        'ท้ายบ้าน':'สมุทรปราการ',
                                        'ธารโต':'ยะลา',
                                        'นคนปฐม':'นครปฐม',
                                        'นคปฐม':'นครปฐม',
                                        'นครนปฐม':'นครปฐม',
                                        'นครนาชสีมา':'นครราชสีมา',
                                        'นครนายก':'นครนายก',
                                        'นครปฐม':'นครปฐม',
                                        'นครปฐม\xa0':'นครปฐม',
                                        'นครปบม':'นครปฐม',
                                        'นครพนม':'นครพนม',
                                        'นครพนม\xa0':'นครพนม',
                                        'นครยายก':'นครนายก',
                                        'นครราขสีมา':'นครราชสีมา',
                                        'นครราชธานี':'นครราชสีมา',
                                        'นครราชศรีมา':'นครราชสีมา',
                                        'นครราชสสีมา':'นครราชสีมา',
                                        'นครราชสีมา':'นครราชสีมา',
                                        'นครราชสีมา ลพบุรี':'ลพบุรี',
                                        'นครราชสีมา\xa0':'นครราชสีมา',
                                        'นครศรธรรมราช':'นครศรีธรรมราช',
                                        'นครศรี':'นครศรีธรรมราช',
                                        'นครศรีธรมมราช':'นครศรีธรรมราช',
                                        'นครศรีธรมราช':'นครศรีธรรมราช',
                                        'นครศรีธรรมราข':'นครศรีธรรมราช',
                                        'นครศรีธรรมราช':'นครศรีธรรมราช',
                                        'นครศรีฯ':'นครศรีธรรมราช',
                                        'นครศรีีธรรมราช':'นครศรีธรรมราช',
                                        'นครศร๊ธรรมราช':'นครศรีธรรมราช',
                                        'นครศร๊ะรรมราช':'นครศรีธรรมราช',
                                        'นครสรรค์':'นครสวรรค์',
                                        'นครสรีธรรมราช':'นครศรีธรรมราช',
                                        'นครสวรรค':'นครสวรรค์',
                                        'นครสวรรค์':'นครสวรรค์',
                                        'นครสวรรค์\xa0':'นครสวรรค์',
                                        'นครสีธรรมราช':'นครศรีธรรมราช',
                                        'นครฯ':'นครศรีธรรมราช',
                                        'นคราชสีมา':'นครราชสีมา',
                                        'นครีศรีธรรมราช':'นครศรีธรรมราช',
                                        'นตรนายก':'นครนายก',
                                        'นตรปฐม':'นครปฐม',
                                        'นนทบุรี':'นนทบุรี',
                                        'นนทบุรี\xa0':'นนทบุรี',
                                        'นนทบุุรี':'นนทบุรี',
                                        'นนทุบรี':'นนทบุรี',
                                        'นนทุรี':'นนทบุรี',
                                        'นนมบุรี':'นนทบุรี',
                                        'นรศรีธรรมราช':'นครศรีธรรมราช',
                                        'นราธิวาส':'นราธิวาส',
                                        'นราธิวาส\u200b':'นราธิวาส',
                                        'นราธฺวาส':'นราธิวาส',
                                        'นอกเขต':'ไม่ระบุ',
                                        'นาราธิวาส':'นราธิวาส',
                                        'นาวัง':'หนองบัวลำภู',
                                        'น่าน':'น่าน',
                                        'น่าน/ฉะเชิงเทรา':'น่าน',
                                        'บางกรวย':'นนทบุรี',
                                        'บางกะปิ':'กรุงเทพมหานคร',
                                        'บางนา':'กรุงเทพมหานคร',
                                        'บางปะอิน':'พระนครศรีอยุธยา',
                                        'บางละมุง':'ชลบุรี',
                                        'บางศรีเมือง':'นนทบุรี',
                                        'บางเพียง':'สมุทรปราการ',
                                        'บึงกาฬ':'บึงกาฬ',
                                        'บึงโขงหลง':'บึงกาฬ',
                                        'บุรีรัมภ์':'บุรีรัมย์',
                                        'บุรีรัมย์':'บุรีรัมย์',
                                        'บุรีรัมย์\xa0':'บุรีรัมย์',
                                        'บุรีรัยม์':'บุรีรัมย์',
                                        'บุรีรีมย์':'บุรีรัมย์',
                                        'บ้านหลวง':'น่าน',
                                        'ปจ':'ประจวบคีรีขันธ์',
                                        'ปทึมธานี':'ปทุมธานี',
                                        'ปทุทธานี':'ปทุมธานี',
                                        'ปทุมฑานี':'ปทุมธานี',
                                        'ปทุมทานี':'ปทุมธานี',
                                        'ปทุมธาน':'ปทุมธานี',
                                        'ปทุมธานี':'ปทุมธานี',
                                        'ปทุมธานี.':'ปทุมธานี',
                                        'ปทุมธานี\xa0':'ปทุมธานี',
                                        'ปทุมธานีี':'ปทุมธานี',
                                        'ปทุมาธานี':'ปทุมธานี',
                                        'ปทุุมธานี':'ปทุมธานี',
                                        'ปธุมธานี':'ปทุมธานี',
                                        'ปมุมธานี':'ปทุมธานี',
                                        'ประจวนคีรีขันธ็':'ประจวบคีรีขันธ์',
                                        'ประจวบ':'ประจวบคีรีขันธ์',
                                        'ประจวบคิรีขันธ์':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรขันธ์':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรขัันธ์':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขัน':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขันธื':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขันธฺ':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขันธ์':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขันธ์\xa0':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขันธ์์':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขัันธ์':'ประจวบคีรีขันธ์',
                                        'ประจวบคีีรีขันธ์':'ประจวบคีรีขันธ์',
                                        'ประจวบฯ':'ประจวบคีรีขันธ์',
                                        'ประทุมธานี':'ปทุมธานี',
                                        'ประเทศกัมพูชา':'ไม่ระบุ',
                                        'ปราจีนบุรี':'ปราจีนบุรี',
                                        'ปราจีบุรี':'ปราจีนบุรี',
                                        'ปลวกแดง':'ระยอง',
                                        'ปลายพระยา':'กระบี่',
                                        'ปอยเปต':'ไม่ระบุ',
                                        'ปัตตนรี':'ปัตตานี',
                                        'ปัตตานนี':'ปัตตานี',
                                        'ปัตตานี':'ปัตตานี',
                                        'ปัตตานีี':'ปัตตานี',
                                        'ปัตาตานี':'ปัตตานี',
                                        'ปัว':'น่าน',
                                        'ปััตตานี':'ปัตตานี',
                                        'ปุทมธานี':'ปทุมธานี',
                                        'ป่าโมก':'อ่างทอง',
                                        'พม่า':'ไม่ระบุ',
                                        'พรหมพิราม':'พิษณุโลก',
                                         'พระนครศรียุธยา':'พระนครศรีอยุธยา',
                                        'พระนครศรีอยุทธยา':'พระนครศรีอยุธยา',
                                        'พระนครศรีอยุทยา':'พระนครศรีอยุธยา',
                                        'พระนครศรีอยุธยา':'พระนครศรีอยุธยา',
                                        'พระนครศรีอยุธยา\xa0':'พระนครศรีอยุธยา',
                                        'พะเยา':'พะเยา',
                                        'พังงา':'พังงา',
                                        'พัทยา':'ชลบุรี',
                                        'พัทลุง':'พัทลุง',
                                        'พัทลุุง':'พัทลุง',
                                        'พัังงา':'พังงา',
                                        'พิจิตร':'พิจิตร',
                                        'พิษณุโลก':'พิษณุโลก',
                                        'พิษณุโลก\xa0':'พิษณุโลก',
                                        'พิษณูโลก':'พิษณุโลก',
                                        'ฟินแลนด์':'ไม่ระบุ',
                                        'ภาษีเจริญ':'กรุงเทพมหานคร',
                                        'ภุเก็ต':'ภูเก็ต',
                                        'ภูุเก็ต':'ภูเก็ต',
                                        'ภููเก็ต':'ภูเก็ต',
                                        'ภูเก็ต':'ภูเก็ต',
                                        'ภูเก็็ต':'ภูเก็ต',
                                        'ภูเพียง':'น่าน',
                                        'มหาสาคาม':'มหาสารคาม',
                                        'มหาสารคาม':'มหาสารคาม',
                                        'มาเลเซีย':'ไม่ระบุ',
                                        'มุกดาหาร':'มุกดาหาร',
                                        'มุกาดหาร':'มุกดาหาร',
                                        'ยะลา':'ยะลา',
                                        'ยานนาวา':'กรุงเทพมหานคร',
                                        'ยโสธร':'ยโสธร',
                                        'ร.จ.จ.นราธิวาส':'นราธิวาส',
                                        'รอ':'ไม่ระบุ',
                                        'ระนอง':'ระนอง',
                                        'ระบุ':'ไม่ระบุ',
                                         'ระยอง':'ระยอง',
                                        'ระยอง\xa0':'ระยอง',
                                        'ระอยง':'ระยอง',
                                        'ราชบบุรี':'ราชบุรี',
                                        'ราชบุรี':'ราชบุรี',
                                        'ราชบุรีี':'ราชบุรี',
                                        'ราชบุรี\u200b':'ราชบุรี',
                                        'ราชุรี':'ราชบุรี',
                                        'ราชเทวี':'กรุงเทพมหานคร',
                                        'ร้องกวาง':'แพร่',
                                        'ร้อยเอ็ด':'ร้อยเอ็ด',
                                        'ลบุรี':'ลพบุรี',
                                        'ลพบุรี':'ลพบุรี',
                                        'ลพบุรี.':'ลพบุรี',
                                        'ลพบุรี\xa0':'ลพบุรี',
                                        'ลอง':'แพร่',
                                        'ลาดกระบัง':'กรุงเทพมหานคร',
                                        'ลาดพร้าว':'กรุงเทพมหานคร',
                                        'ลาว':'ไม่ระบุ',
                                        'ลำปาง':'ลำปาง',
                                        'ลำพูน':'ลำพูน',
                                        'ลำพูน\u200b':'ลำพูน',
                                        'ลำพููน':'ลำพูน',
                                        'ลำลูกกา':'ปทุมธานี',
                                        'วังชิ้น':'แพร่',
                                        'วังทอง':'พิษณุโลก',
                                        'วิเศษชัยชาญ':'อ่างทอง',
                                        'ศรีษะสะเกษ':'ศรีสะเกษ',
                                        'ศรีษะเกษ':'ศรีสะเกษ',
                                        'ศรีสระเกษ':'ศรีสะเกษ',
                                        'ศรีสะเกษ':'ศรีสะเกษ',
                                        'ศีรสะเกษ':'ศรีสะเกษ',
                                        'สกลนคร':'สกลนคร',
                                        'สครสวรรค์':'นครสวรรค์',
                                        'สงขลา':'สงขลา',
                                        'สงขลา\u200b':'สงขลา',
                                         'สตูล':'สตูล',
                                        'สถานที่ทำงาน':'ไม่ระบุ',
                                        'สพรรณบุรี':'สุพรรณบุรี',
                                        'สมถทรปราการ':'สมุทรปราการ',
                                        'สมทรสงคราม':'สมุทรสงคราม',
                                        'สมทรสาคร':'สมุทรสาคร',
                                        'สมุครปราการ':'สมุทรปราการ',
                                        'สมุครสาคร':'สมุทรสาคร',
                                        'สมุท':'สมุทรปราการ',
                                        'สมุทปราการ':'สมุทรปราการ',
                                        'สมุทรปรากร':'สมุทรปราการ',
                                        'สมุทรปรากรร':'สมุทรปราการ',
                                        'สมุทรปรากา':'สมุทรปราการ',
                                        'สมุทรปราการ':'สมุทรปราการ',
                                        'สมุทรปราการ\xa0':'สมุทรปราการ',
                                        'สมุทรศาคร':'สมุทรสาคร',
                                        'สมุทรสงคราม':'สมุทรสงคราม',
                                        'สมุทรสาคร':'สมุทรสาคร',
                                        'สมุทรสาคร\xa0':'สมุทรสาคร',
                                        'สมุทรสาคา':'สมุทรสาคร',
                                        'สมุทรสาคาร':'สมุทรสาคร',
                                        'สมุทรสาทร':'สมุทรสาคร',
                                        'สมุทรสารคร':'สมุทรสาคร',
                                        'สมุทราปราการ':'สมุทรปราการ',
                                        'สมุทราสาคร':'สมุทรสาคร',
                                        'สมุทสงคราม':'สมุทรสงคราม',
                                        'สมุทสาคร':'สมุทรสาคร',
                                        'สมุย' : 'สุราษฎร์ธานี' ,
                                        'สมุุทรปราการ' : 'สมุทรปราการ' ,
                                        'สมุุทรสงคราม' : 'สมุทรสงคราม' ,
                                        'สมุุทรสาคร' : 'สมุทรสาคร' ,
                                        'สระก้ว' : 'สระแก้ว' ,
                                        'สระบุรี' : 'สระบุรี' ,
                                        'สระบุรี\xa0' : 'สระบุรี' ,
                                         'สระแก้ว' : 'สระแก้ว' ,
                                        'สรินทร์' : 'สุรินทร์' ,
                                        'สวิสเซอร์แลนด์' : 'ไม่ระบุ' ,
                                        'สอง' : 'แพร่' ,
                                        'สองแคว' : 'พิษณุโลก' ,
                                        'สะพานสูง' : 'กรุงเทพมหานคร' ,
                                        'สะแก้ว' : 'สระแก้ว' ,
                                        'สัตหีบ' : 'ชลบุรี' ,
                                        'สัมผัสผู้ป่วยยืนยัน COVID20' : 'ไม่ระบุ' ,
                                        'สามุทรสาคร' : 'สมุทรสาคร' ,
                                        'สารคาม' : 'มหาสารคาม' ,
                                        'สารภี' : 'เชียงใหม่' ,
                                        'สิงห์บุรี' : 'สิงห์บุรี' ,
                                        'สิงห์บุรี\xa0' : 'สิงห์บุรี' ,
                                        'สุทรปราการ' : 'สมุทรปราการ' ,
                                        'สุพรรญบุรี' : 'สุพรรณบุรี' ,
                                        'สุพรรณบุรั' : 'สุพรรณบุรี' ,
                                        'สุพรรณบุรี' : 'สุพรรณบุรี' ,
                                        'สุพรรณบุรี\xa0' : 'สุพรรณบุรี' ,
                                        'สุมทรปราการ' : 'สมุทรปราการ' ,
                                        'สุมทรสาคร' : 'สมุทรสาคร' ,
                                        'สุมุทรปราการ' : 'สมุทรปราการ' ,
                                        'สุมุทรสาคร' : 'สมุทรสาคร' ,
                                        'สุระบุรี' : 'สระบุรี' ,
                                        'สุราษ' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎณ์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎร์' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎร์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎร์ฯ' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎร์์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎ์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษฏร์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษร์ฎธานี' : 'สุราษฎร์ธานี' ,
                                         'สุราษร์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษฯ' : 'สุราษฎร์ธานี' ,
                                        'สุรินทรื' : 'สุรินทร์' ,
                                        'สุรินทร์' : 'สุรินทร์' ,
                                        'สุรินทร์ 32150' : 'สุรินทร์' ,
                                        'สุรินทร์,รีสะเกษ' : 'สุรินทร์' ,
                                        'สุรินทร์\xa0' : 'สุรินทร์' ,
                                        'สุริมทร์' : 'สุรินทร์' ,
                                        'สุริะแก้ว' : 'สระแก้ว' ,
                                        'สุวรรณภูมิ' : 'สมุทรปราการ' ,
                                        'สุุพรรณบุรี' : 'สุพรรณบุรี' ,
                                        'สุุราษฎร์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุุราษฏร์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุุราษฯ' : 'สุราษฎร์ธานี' ,
                                        'สุุรินทร์' : 'สุรินทร์' ,
                                        'สุุุโขทัย' : 'สุโขทัย' ,
                                        'สุโขทับ' : 'สุโขทัย' ,
                                        'สุโขทัย' : 'สุโขทัย' ,
                                        'สุโขทัย\xa0' : 'สุโขทัย' ,
                                        'สูงเม่น' : 'แพร่' ,
                                        'หนวงบัวลำภู' : 'หนองบัวลำภู' ,
                                        'หนองคาย' : 'หนองคาย' ,
                                        'หนองงคาย' : 'หนองคาย' ,
                                        'หนองบัวภู' : 'หนองบัวลำภู' ,
                                        'หนองบัวลำพูน' : 'หนองบัวลำภู' ,
                                        'หนองบัวลำภู' : 'หนองบัวลำภู' ,
                                        'หนองบัวลําภู' : 'หนองบัวลำภู' ,
                                        'หนองบััวลำภู' : 'หนองบัวลำภู' ,
                                        'หนองม่วงไข่' : 'แพร่' ,
                                        'หนอบัวลำภู' : 'หนองบัวลำภู' ,
                                        'หลายจังหวัด' : 'ไม่ระบุ' ,
                                        'หัวหิน' : 'ประจวบคีรีขันธ์' ,
                                        'ห้วยขวาง' : 'กรุงเทพมหานคร' ,
                                        'อยุทธยา' : 'พระนครศรีอยุธยา' ,
                                        'อยุธยา' : 'พระนครศรีอยุธยา' ,
                                        'อยุุธยา' : 'พระนครศรีอยุธยา' ,
                                         'อำนาจเจริญ' : 'อำนาจเจริญ' ,
                                        'อำนาจเจิญ' : 'อำนาจเจริญ' ,
                                        'อำนาญเจริญ' : 'อำนาจเจริญ' ,
                                        'อำนาเจริญ' : 'อำนาจเจริญ' ,
                                        'อิสราเอล' : 'ไม่ระบุ' ,
                                        'อุดธานี' : 'อุดรธานี' ,
                                        'อุดร' : 'อุดรธานี' ,
                                        'อุดรธาณี' : 'อุดรธานี' ,
                                        'อุดรธานี' : 'อุดรธานี' ,
                                        'อุดรธานี\xa0' : 'อุดรธานี' ,
                                        'อุดรธานีี' : 'อุดรธานี' ,
                                        'อุดรราชธานี' : 'อุดรธานี' ,
                                        'อุตรดิตถ์' : 'อุตรดิตถ์' ,
                                        'อุตรดิตถ์\xa0' : 'อุตรดิตถ์' ,
                                        'อุตรดิตถ์์' : 'อุตรดิตถ์' ,
                                        'อุตรดิษถ์' : 'อุตรดิตถ์' ,
                                        'อุตรดิิตถ์' : 'อุตรดิตถ์' ,
                                        'อุตรติดถ์' : 'อุตรดิตถ์' ,
                                        'อุทัยธานี' : 'อุทัยธานี' ,
                                        'อุทัยานี' : 'อุทัยธานี' ,
                                        'อุบลราขธานี' : 'อุบลราชธานี' ,
                                        'อุบลราชธานี' : 'อุบลราชธานี' ,
                                        'อุบลราชธานี\xa0' : 'อุบลราชธานี' ,
                                        'อุุครดิตถ์' : 'อุตรดิตถ์' ,
                                        'อุุดรธาน' : 'อุดรธานี' ,
                                        'อุุดรธานี' : 'อุดรธานี' ,
                                        'อุุตรดิตถ์' : 'อุตรดิตถ์' ,
                                        'อุุทัยธานี' : 'อุทัยธานี' ,
                                        'อุุบลราชธานี' : 'อุบลราชธานี' ,
                                        'อ่งทอง' : 'อ่างทอง' ,
                                        'อ่างทอง' : 'อ่างทอง' ,
                                        'อ่างทอง\xa0' : 'อ่างทอง' ,
                                        'อํานาจเจริญ' : 'อำนาจเจริญ' ,
                                        'เชิงเทรา' : 'ฉะเชิงเทรา' ,
                                        'เชียงราย' : 'เชียงราย' ,
                                         'เชียงใหม่' : 'เชียงใหม่' , 
                                        'เชียรใหญ่' : 'เชียงใหม่' , 
                                        'เชีียงราย' : 'เชียงราย' ,
                                        'เชีียงใหม่' : 'เชียงใหม่' , 
                                        'เด่นชัย' : 'แพร่' ,
                                        'เพขรบุรี' : 'เพชรบุรี' ,
                                        'เพขรบูรณื' : 'เพชรบูรณ์' ,
                                        'เพขรบูรณ์' : 'เพชรบูรณ์' ,
                                        'เพชรบุรณ์' : 'เพชรบูรณ์' ,
                                        'เพชรบุรี' : 'เพชรบุรี' ,
                                        'เพชรบุรึ' : 'เพชรบุรี' ,
                                        'เพชรบุุรี' : 'เพชรบุรี' ,
                                        'เพชรบุูรณ์' : 'เพชรบูรณ์' ,
                                        'เพชรบูรณ์' : 'เพชรบูรณ์' ,
                                        'เพชรบูรณ์\xa0' : 'เพชรบูรณ์' ,
                                        'เพชรบูร์' : 'เพชรบูรณ์' ,
                                        'เพชรบููรณ์' : 'เพชรบูรณ์' ,
                                        'เมือง' : 'ไม่ระบุ' ,
                                        'เมืองตาก' : 'ตาก' ,
                                        'เมืองน่าน' : 'น่าน' ,
                                        'เมืองปัตตานี' : 'ปัตตานี' ,
                                        'เรือ' : 'ไม่ระบุ' ,
                                        'เลย' : 'เลย' ,
                                        'เลย\xa0' : 'เลย' ,
                                        'เวียงจันทร์' : 'ไม่ระบุ' ,
                                        'เวียงสา' : 'น่าน' ,
                                        'แพร่' : 'แพร่' ,
                                        'แม่ทะ' : 'ลำปาง' ,
                                        'แม่ฮ่องสอน' : 'แม่ฮ่องสอน' ,
                                        'แล้วป่วย' : 'ไม่ระบุ' ,
                                        'โพธิ์ทอง' : 'อ่างทอง' ,
                                        'ไชโย' : 'อ่างทอง' ,
                                        'ไม่มีชื่อหอพัก' : 'ไม่ระบุ'}, inplace=True)

In [42]:
len(set(data_covidall['province_of_onset']))

78

In [43]:
data_covidall

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,12/1/2020,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
1,2,17/1/2020,17/1/2020,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
2,3,22/1/2020,22/1/2020,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,22/1/2020,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
4,5,24/1/2020,24/1/2020,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,NaN

In [44]:
data_covidall= data_covidall[['No.','announce_date','Notified date','sex','province_of_isolation','province_of_onset']]
data_covidall

,No.,announce_date,Notified date,sex,province_of_isolation,province_of_onset
0,1,12/1/2020,12/1/2020,หญิง,กรุงเทพมหานคร,กรุงเทพมหานคร
1,2,17/1/2020,17/1/2020,หญิง,กรุงเทพมหานคร,กรุงเทพมหานคร
2,3,22/1/2020,22/1/2020,หญิง,นครปฐม,นครปฐม
3,4,22/1/2020,22/1/2020,ชาย,กรุงเทพมหานคร,กรุงเทพมหานคร
4,5,24/1/2020,24/1/2020,หญิง,นนทบุรี,กรุงเทพมหานคร
...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,กรุงเทพมหานคร,ไม่ระบุ
433549,3303166,18/3/2022,17/3/2022,หญิง,กรุงเทพมหานคร,ไม่ระบุ
433550,3303167,18/3/2022,17/3/2022,หญิง,กรุงเทพมหานคร,ไม่ระบุ
433551,3303168,18/3/2022,17/3/2022,หญิง,สงขลา,ไม่ระบุ
433552,3303169,18/3/2022,17/3/2022,หญิง,สงขลา,ไม่ระบุ

###ฉีดวัคซีน

###load data

In [45]:
data_vac = os.path.join(path,'data_Vaccine (1).csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_vac)

/content/drive/My Drive/data_projectกลุ่มนี้/data_Vaccine (1).csv

In [94]:
data_vaccine = pd.read_csv(data_vac)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า 
data_vaccine

,Unnamed: 0,province,over_60_1st_dose,total_1st_dose,total_2nd_dose,total_3rd_dose,date
0,0,กระบี่,49646,373452,348632,91393,2022-03-05T23:15
1,1,กรุงเทพมหานคร,1304946,9633649,8843614,4866624,2022-03-05T23:15
2,2,กาญจนบุรี,79988,531823,498563,166139,2022-03-05T23:15
3,3,กาฬสินธุ์,124551,562638,505935,102146,2022-03-05T23:15
4,4,กำแพงเพชร,90694,422264,397721,125153,2022-03-05T23:15
...,...,...,...,...,...,...,...
72,72,เพชรบุรี,65846,370981,344375,116102,2022-03-05T23:15
73,73,เพชรบูรณ์,139218,605782,566169,212238,2022-03-05T23:15
74,74,เลย,88894,422976,392949,89468,2022-03-05T23:15
75,75,แพร่,72136,286042,271415,85283,2022-03-05T23:15
76,76,แม่ฮ่องสอน,28062,175564,147956,34091,2022-03-05T23:15

In [93]:
data_vaccine = data_vaccine[['province','total_1st_dose','total_2nd_dose','total_3rd_dose']]
data_vaccine

         province  total_1st_dose  total_2nd_dose  total_3rd_dose
0          กระบี่          373452          348632           91393
1   กรุงเทพมหานคร         9633649         8843614         4866624
2       กาญจนบุรี          531823          498563          166139
3       กาฬสินธุ์          562638          505935          102146
4       กำแพงเพชร          422264          397721          125153
..            ...             ...             ...             ...
72       เพชรบุรี          370981          344375          116102
73      เพชรบูรณ์          605782          566169          212238
74            เลย          422976          392949           89468
75           แพร่          286042          271415           85283
76     แม่ฮ่องสอน          175564          147956           34091

[77 rows x 4 columns]

In [82]:
data_vaccine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province        77 non-null     object
 1   total_1st_dose  77 non-null     int64
 2   total_2nd_dose  77 non-null     int64
 3   total_3rd_dose  77 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.5+ KB

##เชื่อมตาราง

###เชื่อมตาราง Province_all กับ data_covid_all

In [48]:
personalcovid_data = data_covidall.merge(province_all,how='left',left_on='province_of_onset',right_on='จังหวัด') 
personalcovid_data

,No.,announce_date,Notified date,sex,province_of_isolation,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,1,12/1/2020,12/1/2020,หญิง,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
1,2,17/1/2020,17/1/2020,หญิง,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2,3,22/1/2020,22/1/2020,หญิง,นครปฐม,นครปฐม,นครปฐม,กลาง,กลาง,กลาง,กลาง
3,4,22/1/2020,22/1/2020,ชาย,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
4,5,24/1/2020,24/1/2020,หญิง,นนทบุรี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
...,...,...,...,...,...,...,...,...,...,...,...
3303164,3303165,18/3/2022,17/3/2022,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303165,3303166,18/3/2022,17/3/2022,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303166,3303167,18/3/2022,17/3/2022,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303167,3303168,18/3/2022,17/3/2022,หญิง,สงขลา,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303168,3303169,18/3/2022,17/3/2022,หญิง,สงขลา,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

In [49]:
personalcovid_data.isnull().any()

No.                          False
announce_date                False
Notified date                False
sex                          False
province_of_isolation        False
province_of_onset            False
จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาคการเมือง            False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

###เชื่อมตาราง personalcovid_data กับ data_vaccine

In [50]:
get_vaccine= personalcovid_data.merge(data_vaccine,how='left',left_on='จังหวัด',right_on='province') 
get_vaccine

,No.,announce_date,Notified date,sex,province_of_isolation,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),province,total_1st_dose,total_2nd_dose,total_3rd_dose
0,1,12/1/2020,12/1/2020,หญิง,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
1,2,17/1/2020,17/1/2020,หญิง,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
2,3,22/1/2020,22/1/2020,หญิง,นครปฐม,นครปฐม,นครปฐม,กลาง,กลาง,กลาง,กลาง,นครปฐม,676379.0,663038.0,287868.0
3,4,22/1/2020,22/1/2020,ชาย,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
4,5,24/1/2020,24/1/2020,หญิง,นนทบุรี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3303164,3303165,18/3/2022,17/3/2022,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
3303165,3303166,18/3/2022,17/3/2022,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
3303166,3303167,18/3/2022,17/3/2022,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
3303167,3303168,18/3/2022,17/3/2022,หญิง,สงขลา,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
3303168,3303169,18/3/2022,17/3/2022,หญิง,สงขลา,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN

In [51]:
get_vaccine.isnull().any()

No.                          False
announce_date                False
Notified date                False
sex                          False
province_of_isolation        False
province_of_onset            False
จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาคการเมือง            False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
province                      True
total_1st_dose                True
total_2nd_dose                True
total_3rd_dose                True
dtype: bool

In [52]:
get_vaccine=get_vaccine.fillna(value ={ 'province' : 'ไม่ระบุ','total_1st_dose' : 'ไม่ระบุ','total_2nd_dose' : 'ไม่ระบุ','total_3rd_dose':'ไม่ระบุ'})  
get_vaccine

,No.,announce_date,Notified date,sex,province_of_isolation,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),province,total_1st_dose,total_2nd_dose,total_3rd_dose
0,1,12/1/2020,12/1/2020,หญิง,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
1,2,17/1/2020,17/1/2020,หญิง,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
2,3,22/1/2020,22/1/2020,หญิง,นครปฐม,นครปฐม,นครปฐม,กลาง,กลาง,กลาง,กลาง,นครปฐม,676379.0,663038.0,287868.0
3,4,22/1/2020,22/1/2020,ชาย,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
4,5,24/1/2020,24/1/2020,หญิง,นนทบุรี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3303164,3303165,18/3/2022,17/3/2022,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303165,3303166,18/3/2022,17/3/2022,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303166,3303167,18/3/2022,17/3/2022,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303167,3303168,18/3/2022,17/3/2022,หญิง,สงขลา,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303168,3303169,18/3/2022,17/3/2022,หญิง,สงขลา,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

In [53]:
get_vaccine.to_csv('get_vaccine.csv', encoding='utf-8')

In [54]:
get_vaccine1 = get_vaccine.iloc[:300000,:]
get_vaccine1

,No.,announce_date,Notified date,sex,province_of_isolation,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),province,total_1st_dose,total_2nd_dose,total_3rd_dose
0,1,12/1/2020,12/1/2020,หญิง,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
1,2,17/1/2020,17/1/2020,หญิง,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
2,3,22/1/2020,22/1/2020,หญิง,นครปฐม,นครปฐม,นครปฐม,กลาง,กลาง,กลาง,กลาง,นครปฐม,676379.0,663038.0,287868.0
3,4,22/1/2020,22/1/2020,ชาย,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
4,5,24/1/2020,24/1/2020,หญิง,นนทบุรี,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,299996,7/7/2021,6/7/2021,หญิง,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
299996,299997,7/7/2021,6/7/2021,ชาย,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
299997,299998,7/7/2021,6/7/2021,หญิง,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
299998,299999,7/7/2021,6/7/2021,ชาย,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
299999,300000,7/7/2021,6/7/2021,ชาย,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0

In [55]:
get_vaccine1.to_csv('get_vaccine1.csv', encoding='utf-8')

In [56]:
get_vaccine2 = get_vaccine.iloc[300000:600000,:]
get_vaccine2

,No.,announce_date,Notified date,sex,province_of_isolation,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),province,total_1st_dose,total_2nd_dose,total_3rd_dose
300000,300001,7/7/2021,6/7/2021,ชาย,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
300001,300002,7/7/2021,6/7/2021,หญิง,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
300002,300003,7/7/2021,6/7/2021,ชาย,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
300003,300004,7/7/2021,6/7/2021,หญิง,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
300004,300005,7/7/2021,6/7/2021,หญิง,กรุงเทพมหานคร,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,9633649.0,8843614.0,4866624.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,599996,1/8/2021,31/7/2021,ชาย,พระนครศรีอยุธยา,พระนครศรีอยุธยา,พระนครศรีอยุธยา,กลาง,กลาง,กลาง,กลาง,พระนครศรีอยุธยา,664231.0,635881.0,356875.0
599996,599997,1/8/2021,31/7/2021,ชาย,พระนครศรีอยุธยา,พระนครศรีอยุธยา,พระนครศรีอยุธยา,กลาง,กลาง,กลาง,กลาง,พระนครศรีอยุธยา,664231.0,635881.0,356875.0
599997,599998,1/8/2021,31/7/2021,ชาย,พระนครศรีอยุธยา,พระนครศรีอยุธยา,พระนครศรีอยุธยา,กลาง,กลาง,กลาง,กลาง,พระนครศรีอยุธยา,664231.0,635881.0,356875.0
599998,599999,1/8/2021,31/7/2021,หญิง,พระนครศรีอยุธยา,พระนครศรีอยุธยา,พระนครศรีอยุธยา,กลาง,กลาง,กลาง,กลาง,พระนครศรีอยุธยา,664231.0,635881.0,356875.0
599999,600000,1/8/2021,31/7/2021,หญิง,พระนครศรีอยุธยา,พระนครศรีอยุธยา,พระนครศรีอยุธยา,กลาง,กลาง,กลาง,กลาง,พระนครศรีอยุธยา,664231.0,635881.0,356875.0

In [57]:
get_vaccine2.to_csv('get_vaccine2.csv', encoding='utf-8')

In [58]:
get_vaccine3 = get_vaccine.iloc[600000:900000,:]
get_vaccine3

,No.,announce_date,Notified date,sex,province_of_isolation,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),province,total_1st_dose,total_2nd_dose,total_3rd_dose
600000,600001,1/8/2021,31/7/2021,หญิง,พระนครศรีอยุธยา,พระนครศรีอยุธยา,พระนครศรีอยุธยา,กลาง,กลาง,กลาง,กลาง,พระนครศรีอยุธยา,664231.0,635881.0,356875.0
600001,600002,1/8/2021,31/7/2021,หญิง,พระนครศรีอยุธยา,พระนครศรีอยุธยา,พระนครศรีอยุธยา,กลาง,กลาง,กลาง,กลาง,พระนครศรีอยุธยา,664231.0,635881.0,356875.0
600002,600003,1/8/2021,31/7/2021,หญิง,พระนครศรีอยุธยา,พระนครศรีอยุธยา,พระนครศรีอยุธยา,กลาง,กลาง,กลาง,กลาง,พระนครศรีอยุธยา,664231.0,635881.0,356875.0
600003,600004,1/8/2021,31/7/2021,หญิง,พระนครศรีอยุธยา,พระนครศรีอยุธยา,พระนครศรีอยุธยา,กลาง,กลาง,กลาง,กลาง,พระนครศรีอยุธยา,664231.0,635881.0,356875.0
600004,600005,1/8/2021,31/7/2021,หญิง,พระนครศรีอยุธยา,พระนครศรีอยุธยา,พระนครศรีอยุธยา,กลาง,กลาง,กลาง,กลาง,พระนครศรีอยุธยา,664231.0,635881.0,356875.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899995,899996,15/8/2021,14/8/2021,หญิง,สุรินทร์,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
899996,899997,15/8/2021,14/8/2021,ชาย,สุรินทร์,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
899997,899998,15/8/2021,14/8/2021,หญิง,สุรินทร์,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
899998,899999,15/8/2021,14/8/2021,ชาย,สุรินทร์,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
899999,900000,15/8/2021,14/8/2021,หญิง,สุรินทร์,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

In [59]:
get_vaccine3.to_csv('get_vaccine3.csv', encoding='utf-8')

In [60]:
get_vaccine4 = get_vaccine.iloc[900000:1200000,:]
get_vaccine4

,No.,announce_date,Notified date,sex,province_of_isolation,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),province,total_1st_dose,total_2nd_dose,total_3rd_dose
900000,900001,15/8/2021,14/8/2021,ชาย,สุรินทร์,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
900001,900002,15/8/2021,14/8/2021,ชาย,สุรินทร์,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
900002,900003,15/8/2021,14/8/2021,หญิง,สุรินทร์,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
900003,900004,15/8/2021,14/8/2021,ชาย,สุรินทร์,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
900004,900005,15/8/2021,14/8/2021,ชาย,สุรินทร์,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,1199996,31/8/2021,30/8/2021,หญิง,สตูล,สตูล,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,สตูล,203831.0,187408.0,32682.0
1199996,1199997,31/8/2021,30/8/2021,ชาย,สตูล,สตูล,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,สตูล,203831.0,187408.0,32682.0
1199997,1199998,31/8/2021,30/8/2021,ชาย,สตูล,สตูล,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,สตูล,203831.0,187408.0,32682.0
1199998,1199999,31/8/2021,30/8/2021,หญิง,สตูล,สตูล,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,สตูล,203831.0,187408.0,32682.0
1199999,1200000,31/8/2021,30/8/2021,หญิง,สตูล,สตูล,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,สตูล,203831.0,187408.0,32682.0

In [61]:
get_vaccine4.to_csv('get_vaccine4.csv', encoding='utf-8')

In [62]:
get_vaccine41 = get_vaccine.iloc[900000:1050000,:]
get_vaccine41

,No.,announce_date,Notified date,sex,province_of_isolation,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),province,total_1st_dose,total_2nd_dose,total_3rd_dose
900000,900001,15/8/2021,14/8/2021,ชาย,สุรินทร์,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
900001,900002,15/8/2021,14/8/2021,ชาย,สุรินทร์,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
900002,900003,15/8/2021,14/8/2021,หญิง,สุรินทร์,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
900003,900004,15/8/2021,14/8/2021,ชาย,สุรินทร์,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
900004,900005,15/8/2021,14/8/2021,ชาย,สุรินทร์,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049995,1049996,23/8/2021,22/8/2021,ชาย,นครสวรรค์,นครสวรรค์,นครสวรรค์,กลาง,เหนือ,กลาง,เหนือ,นครสวรรค์,645988.0,619669.0,232823.0
1049996,1049997,23/8/2021,22/8/2021,หญิง,นครสวรรค์,นครสวรรค์,นครสวรรค์,กลาง,เหนือ,กลาง,เหนือ,นครสวรรค์,645988.0,619669.0,232823.0
1049997,1049998,23/8/2021,22/8/2021,ชาย,นครสวรรค์,นครสวรรค์,นครสวรรค์,กลาง,เหนือ,กลาง,เหนือ,นครสวรรค์,645988.0,619669.0,232823.0
1049998,1049999,23/8/2021,22/8/2021,หญิง,นครสวรรค์,นครสวรรค์,นครสวรรค์,กลาง,เหนือ,กลาง,เหนือ,นครสวรรค์,645988.0,619669.0,232823.0
1049999,1050000,23/8/2021,22/8/2021,ชาย,นครสวรรค์,นครสวรรค์,นครสวรรค์,กลาง,เหนือ,กลาง,เหนือ,นครสวรรค์,645988.0,619669.0,232823.0

In [63]:
get_vaccine42 = get_vaccine.iloc[1050000:1200000,:]
get_vaccine42

,No.,announce_date,Notified date,sex,province_of_isolation,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),province,total_1st_dose,total_2nd_dose,total_3rd_dose
1050000,1050001,23/8/2021,22/8/2021,ชาย,นครสวรรค์,นครสวรรค์,นครสวรรค์,กลาง,เหนือ,กลาง,เหนือ,นครสวรรค์,645988.0,619669.0,232823.0
1050001,1050002,23/8/2021,22/8/2021,หญิง,นครสวรรค์,นครสวรรค์,นครสวรรค์,กลาง,เหนือ,กลาง,เหนือ,นครสวรรค์,645988.0,619669.0,232823.0
1050002,1050003,23/8/2021,22/8/2021,หญิง,นครสวรรค์,นครสวรรค์,นครสวรรค์,กลาง,เหนือ,กลาง,เหนือ,นครสวรรค์,645988.0,619669.0,232823.0
1050003,1050004,23/8/2021,22/8/2021,ชาย,นครสวรรค์,นครสวรรค์,นครสวรรค์,กลาง,เหนือ,กลาง,เหนือ,นครสวรรค์,645988.0,619669.0,232823.0
1050004,1050005,23/8/2021,22/8/2021,หญิง,นครสวรรค์,นครสวรรค์,นครสวรรค์,กลาง,เหนือ,กลาง,เหนือ,นครสวรรค์,645988.0,619669.0,232823.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,1199996,31/8/2021,30/8/2021,หญิง,สตูล,สตูล,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,สตูล,203831.0,187408.0,32682.0
1199996,1199997,31/8/2021,30/8/2021,ชาย,สตูล,สตูล,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,สตูล,203831.0,187408.0,32682.0
1199997,1199998,31/8/2021,30/8/2021,ชาย,สตูล,สตูล,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,สตูล,203831.0,187408.0,32682.0
1199998,1199999,31/8/2021,30/8/2021,หญิง,สตูล,สตูล,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,สตูล,203831.0,187408.0,32682.0
1199999,1200000,31/8/2021,30/8/2021,หญิง,สตูล,สตูล,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,สตูล,203831.0,187408.0,32682.0

In [64]:
get_vaccine41.to_csv('get_vaccine41.csv', encoding='utf-8')
get_vaccine42.to_csv('get_vaccine42.csv', encoding='utf-8')

In [65]:
get_vaccine5 = get_vaccine.iloc[1200000:1500000,:]
get_vaccine5

,No.,announce_date,Notified date,sex,province_of_isolation,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),province,total_1st_dose,total_2nd_dose,total_3rd_dose
1200000,1200001,31/8/2021,30/8/2021,หญิง,สตูล,สตูล,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,สตูล,203831.0,187408.0,32682.0
1200001,1200002,31/8/2021,30/8/2021,ชาย,สตูล,สตูล,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,สตูล,203831.0,187408.0,32682.0
1200002,1200003,31/8/2021,30/8/2021,ชาย,สตูล,สตูล,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,สตูล,203831.0,187408.0,32682.0
1200003,1200004,31/8/2021,30/8/2021,ชาย,สตูล,สตูล,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,สตูล,203831.0,187408.0,32682.0
1200004,1200005,31/8/2021,30/8/2021,หญิง,สตูล,สตูล,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้,สตูล,203831.0,187408.0,32682.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1499995,1499996,21/9/2021,20/9/2021,ชาย,อุดรธานี,อุดรธานี,อุดรธานี,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,อุดรธานี,992711.0,913370.0,246315.0
1499996,1499997,21/9/2021,20/9/2021,ชาย,อุดรธานี,อุดรธานี,อุดรธานี,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,อุดรธานี,992711.0,913370.0,246315.0
1499997,1499998,21/9/2021,20/9/2021,ชาย,อุดรธานี,อุดรธานี,อุดรธานี,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,อุดรธานี,992711.0,913370.0,246315.0
1499998,1499999,21/9/2021,20/9/2021,ชาย,อุดรธานี,อุดรธานี,อุดรธานี,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,อุดรธานี,992711.0,913370.0,246315.0
1499999,1500000,21/9/2021,20/9/2021,ชาย,อุดรธานี,อุดรธานี,อุดรธานี,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,อุดรธานี,992711.0,913370.0,246315.0

In [66]:
get_vaccine5.to_csv('get_vaccine5.csv', encoding='utf-8')

In [67]:
get_vaccine6 = get_vaccine.iloc[1500000:1800000,:]
get_vaccine6

,No.,announce_date,Notified date,sex,province_of_isolation,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),province,total_1st_dose,total_2nd_dose,total_3rd_dose
1500000,1500001,21/9/2021,20/9/2021,ชาย,อุดรธานี,อุดรธานี,อุดรธานี,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,อุดรธานี,992711.0,913370.0,246315.0
1500001,1500002,21/9/2021,20/9/2021,ชาย,อุดรธานี,อุดรธานี,อุดรธานี,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,อุดรธานี,992711.0,913370.0,246315.0
1500002,1500003,21/9/2021,20/9/2021,ชาย,อุดรธานี,อุดรธานี,อุดรธานี,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,อุดรธานี,992711.0,913370.0,246315.0
1500003,1500004,21/9/2021,20/9/2021,ชาย,อุดรธานี,อุดรธานี,อุดรธานี,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,อุดรธานี,992711.0,913370.0,246315.0
1500004,1500005,21/9/2021,20/9/2021,ชาย,อุดรธานี,อุดรธานี,อุดรธานี,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,อุดรธานี,992711.0,913370.0,246315.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1799995,1799996,19/10/2021,18/10/2021,หญิง,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0
1799996,1799997,19/10/2021,18/10/2021,หญิง,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0
1799997,1799998,19/10/2021,18/10/2021,ชาย,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0
1799998,1799999,19/10/2021,18/10/2021,ชาย,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0
1799999,1800000,19/10/2021,18/10/2021,หญิง,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0

In [68]:
get_vaccine6.to_csv('get_vaccine6.csv', encoding='utf-8')

In [69]:
get_vaccine7 = get_vaccine.iloc[1800000:2100000,:]
get_vaccine7

,No.,announce_date,Notified date,sex,province_of_isolation,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),province,total_1st_dose,total_2nd_dose,total_3rd_dose
1800000,1800001,19/10/2021,18/10/2021,หญิง,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0
1800001,1800002,19/10/2021,18/10/2021,ชาย,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0
1800002,1800003,19/10/2021,18/10/2021,ชาย,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0
1800003,1800004,19/10/2021,18/10/2021,หญิง,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0
1800004,1800005,19/10/2021,18/10/2021,ชาย,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2099995,2099996,27/11/2021,26/11/2021,หญิง,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0
2099996,2099997,27/11/2021,26/11/2021,หญิง,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0
2099997,2099998,27/11/2021,26/11/2021,หญิง,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0
2099998,2099999,27/11/2021,26/11/2021,หญิง,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0
2099999,2100000,27/11/2021,26/11/2021,ชาย,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0

In [70]:
get_vaccine7.to_csv('get_vaccine7.csv', encoding='utf-8')

In [71]:
get_vaccine8 = get_vaccine.iloc[2100000:2400000,:]
get_vaccine8

,No.,announce_date,Notified date,sex,province_of_isolation,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),province,total_1st_dose,total_2nd_dose,total_3rd_dose
2100000,2100001,27/11/2021,26/11/2021,หญิง,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0
2100001,2100002,27/11/2021,26/11/2021,ชาย,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0
2100002,2100003,27/11/2021,26/11/2021,หญิง,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0
2100003,2100004,27/11/2021,26/11/2021,ชาย,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0
2100004,2100005,27/11/2021,26/11/2021,หญิง,สงขลา,สงขลา,สงขลา,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,1172375.0,1078985.0,357056.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,2399996,27/1/2022,26/1/2022,หญิง,ลพบุรี,ลพบุรี,ลพบุรี,กลาง,กลาง,กลาง,กลาง,ลพบุรี,432870.0,414975.0,181332.0
2399996,2399997,27/1/2022,26/1/2022,หญิง,ลพบุรี,ลพบุรี,ลพบุรี,กลาง,กลาง,กลาง,กลาง,ลพบุรี,432870.0,414975.0,181332.0
2399997,2399998,27/1/2022,26/1/2022,ชาย,ลพบุรี,ลพบุรี,ลพบุรี,กลาง,กลาง,กลาง,กลาง,ลพบุรี,432870.0,414975.0,181332.0
2399998,2399999,27/1/2022,26/1/2022,หญิง,ลพบุรี,ลพบุรี,ลพบุรี,กลาง,กลาง,กลาง,กลาง,ลพบุรี,432870.0,414975.0,181332.0
2399999,2400000,27/1/2022,26/1/2022,หญิง,ลพบุรี,ลพบุรี,ลพบุรี,กลาง,กลาง,กลาง,กลาง,ลพบุรี,432870.0,414975.0,181332.0

In [72]:
get_vaccine8.to_csv('get_vaccine8.csv', encoding='utf-8')

In [73]:
get_vaccine9 = get_vaccine.iloc[2400000:2700000,:]
get_vaccine9

,No.,announce_date,Notified date,sex,province_of_isolation,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),province,total_1st_dose,total_2nd_dose,total_3rd_dose
2400000,2400001,27/1/2022,26/1/2022,ชาย,ลพบุรี,ลพบุรี,ลพบุรี,กลาง,กลาง,กลาง,กลาง,ลพบุรี,432870.0,414975.0,181332.0
2400001,2400002,27/1/2022,26/1/2022,หญิง,ลพบุรี,ลพบุรี,ลพบุรี,กลาง,กลาง,กลาง,กลาง,ลพบุรี,432870.0,414975.0,181332.0
2400002,2400003,27/1/2022,26/1/2022,หญิง,ลพบุรี,ลพบุรี,ลพบุรี,กลาง,กลาง,กลาง,กลาง,ลพบุรี,432870.0,414975.0,181332.0
2400003,2400004,27/1/2022,26/1/2022,หญิง,ลพบุรี,ลพบุรี,ลพบุรี,กลาง,กลาง,กลาง,กลาง,ลพบุรี,432870.0,414975.0,181332.0
2400004,2400005,27/1/2022,26/1/2022,ชาย,ลพบุรี,ลพบุรี,ลพบุรี,กลาง,กลาง,กลาง,กลาง,ลพบุรี,432870.0,414975.0,181332.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2699995,2699996,20/2/2022,19/2/2022,ชาย,สระแก้ว,สระแก้ว,สระแก้ว,ตะวันออก,กลาง,ตะวันออก,ตะวันออก,สระแก้ว,346363.0,311152.0,71461.0
2699996,2699997,20/2/2022,19/2/2022,ชาย,สระแก้ว,สระแก้ว,สระแก้ว,ตะวันออก,กลาง,ตะวันออก,ตะวันออก,สระแก้ว,346363.0,311152.0,71461.0
2699997,2699998,20/2/2022,19/2/2022,ชาย,สระแก้ว,สระแก้ว,สระแก้ว,ตะวันออก,กลาง,ตะวันออก,ตะวันออก,สระแก้ว,346363.0,311152.0,71461.0
2699998,2699999,20/2/2022,19/2/2022,ชาย,สระแก้ว,สระแก้ว,สระแก้ว,ตะวันออก,กลาง,ตะวันออก,ตะวันออก,สระแก้ว,346363.0,311152.0,71461.0
2699999,2700000,20/2/2022,19/2/2022,หญิง,สระแก้ว,สระแก้ว,สระแก้ว,ตะวันออก,กลาง,ตะวันออก,ตะวันออก,สระแก้ว,346363.0,311152.0,71461.0

In [74]:
get_vaccine9.to_csv('get_vaccine9.csv', encoding='utf-8')

In [75]:
get_vaccine10 = get_vaccine.iloc[2700000:3000000,:]
get_vaccine10

,No.,announce_date,Notified date,sex,province_of_isolation,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),province,total_1st_dose,total_2nd_dose,total_3rd_dose
2700000,2700001,20/2/2022,19/2/2022,หญิง,สระแก้ว,ปราจีนบุรี,ปราจีนบุรี,ตะวันออก,กลาง,ตะวันออก,ตะวันออก,ปราจีนบุรี,392734.0,367099.0,134632.0
2700001,2700002,20/2/2022,19/2/2022,ชาย,สระแก้ว,สระแก้ว,สระแก้ว,ตะวันออก,กลาง,ตะวันออก,ตะวันออก,สระแก้ว,346363.0,311152.0,71461.0
2700002,2700003,20/2/2022,19/2/2022,หญิง,สระแก้ว,สระแก้ว,สระแก้ว,ตะวันออก,กลาง,ตะวันออก,ตะวันออก,สระแก้ว,346363.0,311152.0,71461.0
2700003,2700004,20/2/2022,19/2/2022,หญิง,สระแก้ว,สระแก้ว,สระแก้ว,ตะวันออก,กลาง,ตะวันออก,ตะวันออก,สระแก้ว,346363.0,311152.0,71461.0
2700004,2700005,20/2/2022,19/2/2022,ชาย,สระแก้ว,สระแก้ว,สระแก้ว,ตะวันออก,กลาง,ตะวันออก,ตะวันออก,สระแก้ว,346363.0,311152.0,71461.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,2999996,5/3/2022,4/3/2022,ชาย,ชุมพร,ชุมพร,ชุมพร,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,ชุมพร,394705.0,367134.0,87386.0
2999996,2999997,5/3/2022,4/3/2022,หญิง,ชุมพร,ชุมพร,ชุมพร,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,ชุมพร,394705.0,367134.0,87386.0
2999997,2999998,5/3/2022,4/3/2022,ชาย,ชุมพร,ชุมพร,ชุมพร,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,ชุมพร,394705.0,367134.0,87386.0
2999998,2999999,5/3/2022,4/3/2022,ชาย,ชุมพร,ชุมพร,ชุมพร,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,ชุมพร,394705.0,367134.0,87386.0
2999999,3000000,5/3/2022,4/3/2022,ชาย,ชุมพร,ชุมพร,ชุมพร,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,ชุมพร,394705.0,367134.0,87386.0

In [76]:
get_vaccine10.to_csv('get_vaccine10.csv', encoding='utf-8')

In [77]:
get_vaccine11 = get_vaccine.iloc[3000000:,:]
get_vaccine11

,No.,announce_date,Notified date,sex,province_of_isolation,province_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาคการเมือง,6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),province,total_1st_dose,total_2nd_dose,total_3rd_dose
3000000,3000001,5/3/2022,4/3/2022,หญิง,ชุมพร,ชุมพร,ชุมพร,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,ชุมพร,394705.0,367134.0,87386.0
3000001,3000002,5/3/2022,4/3/2022,หญิง,ชุมพร,ชุมพร,ชุมพร,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,ชุมพร,394705.0,367134.0,87386.0
3000002,3000003,5/3/2022,4/3/2022,หญิง,ชุมพร,ชุมพร,ชุมพร,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,ชุมพร,394705.0,367134.0,87386.0
3000003,3000004,5/3/2022,4/3/2022,ชาย,ชุมพร,ชุมพร,ชุมพร,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,ชุมพร,394705.0,367134.0,87386.0
3000004,3000005,5/3/2022,4/3/2022,ชาย,ชุมพร,ชุมพร,ชุมพร,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,ชุมพร,394705.0,367134.0,87386.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3303164,3303165,18/3/2022,17/3/2022,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303165,3303166,18/3/2022,17/3/2022,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303166,3303167,18/3/2022,17/3/2022,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303167,3303168,18/3/2022,17/3/2022,หญิง,สงขลา,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303168,3303169,18/3/2022,17/3/2022,หญิง,สงขลา,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

In [78]:
get_vaccine11.to_csv('get_vaccine11.csv', encoding='utf-8')

In [79]:
get_vaccine.isnull().any()

No.                          False
announce_date                False
Notified date                False
sex                          False
province_of_isolation        False
province_of_onset            False
จังหวัด                      False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาคการเมือง            False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
province                     False
total_1st_dose               False
total_2nd_dose               False
total_3rd_dose               False
dtype: bool

In [80]:
get_vaccine = get_vaccine[['announce_date','sex','province_of_isolation','province_of_onset','6 ภูมิภาค (ภูมิศาสตร์)','total_1st_dose','total_2nd_dose','total_3rd_dose']]
get_vaccine

,announce_date,sex,province_of_isolation,province_of_onset,6 ภูมิภาค (ภูมิศาสตร์),total_1st_dose,total_2nd_dose,total_3rd_dose
0,12/1/2020,หญิง,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,9633649.0,8843614.0,4866624.0
1,17/1/2020,หญิง,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,9633649.0,8843614.0,4866624.0
2,22/1/2020,หญิง,นครปฐม,นครปฐม,กลาง,676379.0,663038.0,287868.0
3,22/1/2020,ชาย,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,9633649.0,8843614.0,4866624.0
4,24/1/2020,หญิง,นนทบุรี,กรุงเทพมหานคร,กลาง,9633649.0,8843614.0,4866624.0
...,...,...,...,...,...,...,...,...
3303164,18/3/2022,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303165,18/3/2022,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303166,18/3/2022,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303167,18/3/2022,หญิง,สงขลา,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303168,18/3/2022,หญิง,สงขลา,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

In [86]:
get_vaccine['announce_date'] = pd.to_datetime(get_vaccine['announce_date'],format="%d/%m/%Y")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [87]:
get_vaccine

,announce_date,sex,province_of_isolation,province_of_onset,6 ภูมิภาค (ภูมิศาสตร์),total_1st_dose,total_2nd_dose,total_3rd_dose
0,2020-01-12,หญิง,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,9633649.0,8843614.0,4866624.0
1,2020-01-17,หญิง,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,9633649.0,8843614.0,4866624.0
2,2020-01-22,หญิง,นครปฐม,นครปฐม,กลาง,676379.0,663038.0,287868.0
3,2020-01-22,ชาย,กรุงเทพมหานคร,กรุงเทพมหานคร,กลาง,9633649.0,8843614.0,4866624.0
4,2020-01-24,หญิง,นนทบุรี,กรุงเทพมหานคร,กลาง,9633649.0,8843614.0,4866624.0
...,...,...,...,...,...,...,...,...
3303164,2022-03-18,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303165,2022-03-18,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303166,2022-03-18,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303167,2022-03-18,หญิง,สงขลา,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303168,2022-03-18,หญิง,สงขลา,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

In [88]:
get_vaccine2022 = get_vaccine[get_vaccine['announce_date'] >= '2022-01-01'] 
get_vaccine2022

,announce_date,sex,province_of_isolation,province_of_onset,6 ภูมิภาค (ภูมิศาสตร์),total_1st_dose,total_2nd_dose,total_3rd_dose
2223435,2022-01-01,ชาย,พะเยา,พะเยา,เหนือ,317751.0,304057.0,100758.0
2223436,2022-01-01,หญิง,พะเยา,พะเยา,เหนือ,317751.0,304057.0,100758.0
2223437,2022-01-01,ชาย,พะเยา,พะเยา,เหนือ,317751.0,304057.0,100758.0
2223438,2022-01-01,ชาย,พะเยา,พะเยา,เหนือ,317751.0,304057.0,100758.0
2223439,2022-01-01,หญิง,พะเยา,พะเยา,เหนือ,317751.0,304057.0,100758.0
...,...,...,...,...,...,...,...,...
3303164,2022-03-18,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303165,2022-03-18,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303166,2022-03-18,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303167,2022-03-18,หญิง,สงขลา,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303168,2022-03-18,หญิง,สงขลา,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

In [89]:
get_vaccine2022.to_csv('get_vaccine2022.csv', encoding='utf-8')

In [91]:
get_vaccinemar2022 = get_vaccine[get_vaccine['announce_date'] >= '2022-03-01'] 
get_vaccinemar2022

,announce_date,sex,province_of_isolation,province_of_onset,6 ภูมิภาค (ภูมิศาสตร์),total_1st_dose,total_2nd_dose,total_3rd_dose
2891927,2022-03-01,ชาย,แม่ฮ่องสอน,แม่ฮ่องสอน,เหนือ,175564.0,147956.0,34091.0
2891928,2022-03-01,หญิง,แม่ฮ่องสอน,แม่ฮ่องสอน,เหนือ,175564.0,147956.0,34091.0
2891929,2022-03-01,หญิง,แม่ฮ่องสอน,แม่ฮ่องสอน,เหนือ,175564.0,147956.0,34091.0
2891930,2022-03-01,หญิง,แม่ฮ่องสอน,แม่ฮ่องสอน,เหนือ,175564.0,147956.0,34091.0
2891931,2022-03-01,หญิง,เชียงใหม่,เชียงใหม่,เหนือ,1605033.0,1552994.0,534788.0
...,...,...,...,...,...,...,...,...
3303164,2022-03-18,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303165,2022-03-18,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303166,2022-03-18,หญิง,กรุงเทพมหานคร,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303167,2022-03-18,หญิง,สงขลา,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3303168,2022-03-18,หญิง,สงขลา,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

In [92]:
get_vaccinemar2022.to_csv('get_vaccinemar2022.csv', encoding='utf-8')